[2017-01-11 09:49] oyamad commented on #278
I agree `deps` will better be `folder`, or `directory`.

A use case is found in Cell `[44]` in [here](http://nbviewer.jupyter.org/github/QuantEcon/QuantEcon.notebooks/blob/master/ddp_ex_career_py.ipynb#Comparison-with-CareerWorkerProblem).

[2017-01-11 23:57] #269 closed

[2017-01-30 01:19] mmcky commented on #274
FYI - still waiting for ``anaconda`` base to upgrade numba to ``0.30`` but monitoring every couple of days.

[2017-02-02 01:19] mmcky commented on #274
``anaconda`` has been released to ``4.3.0`` which now includes numba ``0.30.1``. So tomorrow I will release a new version of QuantEcon.py on pip and condo forge.

[2017-02-08 00:24] sebgraves opened #281 "CompEcon function approximation needed for Python"
Python currently lacks the following CompEcon functions, which are useful for approximating functions using Chebyshev polynomials and splines:

fundef
funnode
gridmake
funfitxy

There may be other related CompEcon functions that are important, but these seem to be the critical ones.

[2017-02-08 05:05] davidrpugh commented on #281
@sebgraves What is the dimension of the functions that these routines can be used to approximate? Many (possibly all) of these routines will exist in [numpy.polynomial](https://docs.scipy.org/doc/numpy/reference/routines.polynomials.package.html) package or [scipy.interpolate](https://docs.scipy.org/doc/scipy-0.18.1/reference/interpolate.html) (possibly other places as well) I have used NumPy and

[2017-02-08 05:55] jstac commented on #281
@davidrpugh Good point.  However, some potential users are being discouraged by the lack of obvious equivalents.  So it will still be valuable to have matching functions that do the same job as found in the CompEcon toolkit.  Hopefully those routines you mention can form the back end and do the heavy lifting.

[2017-02-08 06:24] davidrpugh commented on #281
@jstac I see.  So wrapping standard numerical routines for functional approximation, interpolation, etc that already exist in other packages is definitely something that we want to do in quantecon?  I assume that we are not trying to mimic the CompEcon MatLab API, but rather have obvious equivalents available via a more Pythonic API?

[2017-02-08 07:09] thomassargent30 commented on #281
I think that David's suggestion about merely having a clear and prominently
available statement of readily available substitutes for key compecon
programs could be all that we want.

On Wed, Feb 8, 2017 at 1:24 AM, David R. Pugh <notifications@github.com>
wrote:

[2017-02-08 07:40] jstac commented on #281
Thanks for the input.  It's hard to know the best way forward.  The key point here is that someone was blocked from working in Python due to these missing packages (the back story behind OP's message).  It's part of our mission to avoid such outcomes.  But this can be addressed in different ways.  Options are:

(a) just document alternatives
(b) provide similar, more Pythonic functions, or
(c) pro

[2017-02-08 08:12] davidrpugh commented on #281
We definitely do not want people to feel blocked from using QuantEcon because their favorite CompEcon MATLAB routine appears to be unavailable.

1. Have RA's to do a first-pass port of MATLAB routines into Python/Julia for reasons that @jstac mentions.
2. Have more experienced devs refactor the output of step 1 into more idiomatic Python/Julia public API and make it clear in the documentation the

[2017-02-08 08:50] jstac commented on #281
Sounds like a good plan to me.

[2017-02-08 14:36] cc7768 commented on #281
A few thoughts:

* In case others haven't seen already: @sglyon has already written routines for Julia that are a superset of the things done in the function approximation side of CompEcon (see [QuantEcon/BasisMatrices.jl]( https://github.com/QuantEcon/BasisMatrices.jl)). Much of the original code in this library is based off of CompEcon (with Miranda and Fackler's very generous permission). Howev

[2017-02-08 14:50] sglyon commented on #281
Thanks for those comments everyone.

Here's my take.

## Why?

I think there are two main reasons to _want_ a compecon style interpolation library in python (e.g. this is my motivation for creating BasisMatrices.jl that @cc7768  linked to above):

1. To give compecon-Matlab users a familiar starting place when coming to Python. I've heard from many economists that if they could use their favorite

[2017-02-08 15:55] albop commented on #281
I completely agree with @sglyon and @cc7768 about development plans and with @davidrpugh in the sense that, to me, a clear notebook explaining the various flavours of interpolation and the various available libraries, would be the more useful thing to do.

There are probably several reasons why compecon users find it hard to transition to python: there is the quest for an exact api equivalent (str

[2017-02-09 22:23] jstac commented on #281
Clearly everyone else has thought about this much more carefully than me.  It sounds like QuantEcon should be trying to help development of the `linear_basis` branch and possibly the `compecon-python` library by @randall-romero.  Compared to the naive ports of Matlab code, these tasks will require a more sophisticated coder.  Right now the people I know that fall into that set are all very busy.

[2017-02-23 00:49] mmcky opened #285 "Reintroduce ``cache=True`` for jit compiler in support_enumeration"
The cache was switched off due to an issue with ``numba``.

https://github.com/QuantEcon/QuantEcon.py/pull/157

This should be reactivated once https://github.com/numba/numba/pull/2286 is merged and included in the base ``numba`` version of the anaconda distribution.

[2017-02-23 04:31] mmcky commented on #278
Only thing left is to:

- Write some examples of how this function works.

[2017-02-23 04:31] #274 closed

[2017-02-23 04:32] mmcky commented on #243
Given the volume of changes we work with at the moment. I don't see a reason to invest much in a change log tool other than listing the merged PR's. I think I will close this.

[2017-02-23 04:32] #243 closed

[2017-02-23 04:34] sglyon commented on #243
Ha, sorry for being almost a year late to the conversation, but no I don't know of any good automated tools for doing this.

[2017-02-23 04:34] mmcky commented on #160
I am closing this as we now have a ``conda-forge`` package setup.

https://github.com/conda-forge/quantecon-feedstock

[2017-02-23 04:34] #160 closed

[2017-02-23 04:37] mmcky commented on #243
no problem. Thanks @sglyon.

[2017-02-23 05:21] oyamad opened #287 "Fix doc warnings"
* [ ] Unknown sections
  - Unknown section Return
  - Unknown section Parameters:
  - Unknown section Returns:

Example: https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/cartesian.py#L16
Change `Parameters:` to `Parameters`

[2017-02-23 05:23] oyamad commented on #287
* [ ] WARNING: Block quote ends without a blank line; unexpected unindent.

[code]

[2017-02-23 05:25] oyamad commented on #287
* [ ] WARNING: Inline * start-string without end-string.

[code]

[2017-02-23 05:29] mmcky commented on #287
Thanks @oyamad. This is helpful. I will add a review of readthedocs to my list.

[2017-02-23 05:45] mmcky commented on #287
The page:

http://quanteconpy.readthedocs.io/en/latest/game_theory/lemke_howson.html

doesn't seem to be bringing the docstring through.

http://quanteconpy.readthedocs.io/en/latest/game_theory/mclennan_tourky.html
http://quanteconpy.readthedocs.io/en/latest/game_theory/pure_nash.html
http://quanteconpy.readthedocs.io/en/latest/game_theory/support_enumeration.html

on readthedocs

[2017-02-23 06:01] oyamad commented on #287
And this page:
http://quanteconpy.readthedocs.io/en/latest/game_theory/utilities.html

Also this page has not been updated:
http://quanteconpy.readthedocs.io/en/latest/tools/compute_fp.html

[2017-02-23 06:13] oyamad commented on #287
These pages display the docstrings locally on my machine.

[2017-02-23 06:20] oyamad commented on #287
I guess [this line](https://github.com/QuantEcon/QuantEcon.py/blob/master/rtd-environment.yml#L58) has to be updated.

Does any process update this file `rtd-environment.yml` automatically?

[2017-02-23 06:36] mmcky commented on #287
This is looking better: http://quanteconpy.readthedocs.io/en/rtd-env-update/
Once it passes tests I will merge to fix missing pages.

[2017-02-23 06:42] mmcky commented on #287
Some of this has now been addressed:

 - [x] fix missing documentation from pages above
 - [ ] review warning information from readthedocs

[2017-02-23 06:45] oyamad commented on #287
Very good.

What is the difference between "stable" and "latest"? I thought "stable" is from the released version and "latest" from `master`, but it seems not the case.

[2017-02-23 06:47] mmcky commented on #287
we just had the same thought :). I am looking into that now in the rtd setup. I agree. I think stable should be the latest release and latest should be master.

[2017-02-23 06:58] mmcky commented on #287
ah ha. So the adjustments we've made to documentation isn't contained in ``0.3.4`` so the ``stable`` won't reflect those changes as it is in the pre-updated state. I will disable ``stable`` for now in ``rtd`` and then we can fix this by issuing a new release ``0.3.5``.

[2017-02-23 06:59] mmcky commented on #287
I have also reset rtd ``stable`` and checked the build process and it is now pointing to the latest release hash.

[2017-02-23 07:01] mmcky opened #290 "Restart ``stable`` in readthedocs when releasing 0.3.5+"
I have disabled ``stable`` in rtd as it pointed to an old release and we issued fixes to rtd after ``0.3.4``.

So currently rtd is only showing ``latest``.

- [x] add ``stable`` in the readthedocs config (online)

[2017-02-23 07:12] oyamad commented on #287
`latest` is showing the released `0.3.4` rather than `master`. Is this what you expect?

[2017-02-23 07:18] mmcky commented on #287
``latest`` is building ``7cc7943ad3dff8755e70c61f6964d70901366c0e`` which is the last commit on ``master``.

[2017-02-23 07:28] oyamad commented on #287
For example, in http://quanteconpy.readthedocs.io/en/latest/game_theory/lemke_howson.html:
Functions other than `lemke_howson` are private functions, to which `_` have been added on `master`, so they should not show up in the documentation.

Do we really need the `- quantecon` entry in the `- pip` list in `rtd-environment.yml`? Wouldn't RTD run `python setup.py install` without it?

[2017-02-23 12:59] oyamad commented on #287
See #291 where `setup_py_install: true` is added to `readthedocs.yml`.

[2017-02-23 22:05] mmcky commented on #287
Another task

- [ ] review latex code throughout documentation site for proper rendering, new lines etc. [Assign to QuantEcon RA during early March workshop]

[2017-02-23 22:12] mmcky commented on #254
Current Coverage Statistics:

[code]

[2017-02-24 13:10] shizejin commented on #287
The Warning message `Block quote ends without a blank line; unexpected unindent.` could be solved by adding a new line between the type and description of parameters, e.g.

[code]

to

[code]

But I don't know if it's a proper way, as usually there is no such empty line in most of docstrings.

[2017-02-26 00:49] mmcky commented on #287
Hi @shizejin. Thanks for looking into this issue. According to [numpydoc](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt) style guide, having no space is preferred. I will take a closer look at autodoc to see why this warning is getting raised and get back to you.

[2017-02-26 08:01] oyamad commented on #287
The problem is that the list of parameter types is too long that

[code]

would exceed the maximum line length 72 for docstrings.

One option is to shorten the description to

[code]

or

[code]

[2017-02-26 08:23] shizejin commented on #287
It seems that docs of Numpy are using the latter one, and declare the default value in the detailed descriptions of parameters. Should I apply this modification to the files with warning messgaes?

[2017-02-26 08:29] oyamad commented on #287
What are the other cases that yield the `unexpected unindent` warning?

[2017-02-26 11:56] shizejin commented on #287
I have checked all the `Block quote ends without a blank line; unexpected unindent.` warning message, and they are all in this case.

[2017-02-26 12:25] shizejin commented on #287
Other than these warnings, the only one left is `/quantecon/markov/ddp.py:docstring of quantecon.markov.ddp.DiscreteDP:85: WARNING: Inline substitution_reference start-string without end-string.`

[code]

And this is caused by using `s'`. As it is not appropriate to bracket it with "`", maybe we could replace it with another expression?

[2017-02-26 12:49] oyamad commented on #287
@shizejin Will you change all the `s'` in the docstring of `DiscreteDP` (lines 121-284) and in `solve` (line 651) to `s_next` (and keep the others)? Thanks!

[2017-02-26 12:52] oyamad commented on #287
There is one more in [compute_fp.py](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/compute_fp.py#L89-L91).

Please change

[code]

to

[code]

[2017-02-26 12:56] oyamad commented on #287
Regarding `random_state`:

Please change

[code]

to

[code]

(I think this looks better.)

[2017-02-26 14:20] shizejin commented on #287
Changes have been done.

Other than cases that can be solved by changing `scalar(int)` to `int` and `optional(default=None)` to `optional`, there are two types of `Block quote ends without a blank line; unexpected unindent.` warning messgaes left.

1. In [ddp.py](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/markov/ddp.py#L642-L645) and [random.py](https://github.com/QuantEcon/Qu

[2017-02-26 22:14] mmcky commented on #287
Hey @shizejin and @oyamad. Just letting you know I am running some setup workshops today for some new QuantEcon RA's. So I won't get to look into this issue until tomorrow (most likely). I wonder if there is a ``numpydoc`` linter that we can use? It might be a useful approach to catch these errors in the editor.

[2017-03-01 08:02] mmcky commented on #200
@lbui01 this isn't urgent -- but with your skills at writing tests. Do you think you might be able to take a look at this one?

[2017-03-01 08:23] lbui01 commented on #200
@mmcky - yes, happy to do it.

[2017-03-07 06:45] lbui01 commented on #128
@jstac - Is there an example of where stationary_coefficients are used? They aren't used within the class.

[2017-03-07 07:23] thomassargent30 commented on #128
Yes we have examples in some notebooks under construction

On Mar 7, 2017 6:45 AM, "Long Bui" <notifications@github.com> wrote:

@jstac <https://github.com/jstac> - Is there an example of where
stationary_coefficients are used? They aren't used within the class.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/

[2017-03-07 10:42] lbui01 commented on #128
Thanks @thomassargent30 . I'm in the process of designing a test for the stationary_coefficients method. I was looking for examples to better understand it.

Referencing other related issues:
- QuantEcon/QuantEcon.py#200 (same issue)
- QuantEcon/QuantEcon.py#199 (Related discussion)

[2017-03-07 10:51] thomassargent30 commented on #128
Easy examples are in chapter 2 of Ljungqvist sargent rmt3rd edition.  Tom

On Mar 7, 2017 10:42 AM, "Long Bui" <notifications@github.com> wrote:

[2017-03-08 06:44] lbui01 commented on #189
Hi @oyamad  - I have opened a PR to change the scipy.interp to be directly used from numpy. See PR jstac/QuantEcon.lectures#90

This also needs to be updated in the solutions_py.ipynb. See issue jstac/QuantEcon.lectures#92.

We should be able to close this issue soon.

Also note:

I ran a speed test for np.interp and scipy.interpolate.interp1d and found that np.interp was significantly faster. 8.3

[2017-03-08 10:30] jstac commented on #189
@lbui01 Thanks, nice work.

I guess the main difference is that `interp` returns an array whereas `interp1d` returns a callable object.

Having a callable object (e.g., a function) is often more convenient.  In fact you can see in this line

[code]

from the [optimal growth lecture](https://lectures.quantecon.org/py/optgrowth.html) that I'm creating a callable using `lambda` syntax.  If I'd known

[2017-03-08 10:32] jstac commented on #189
In summary, if we want to make a callable I suggest we use `interp1d` imported from SciPy, whereas if we only wish to make an array (i.e., evaluate once off) then we use `interp`, imported from NumPy.

[2017-03-08 23:20] lbui01 commented on #189
Thanks @jstac, I see why ``interp1d`` is useful.

[2017-03-10 15:06] oyamad commented on #287
@shizejin

1. Please change
[code]
to
[code]
and
[code]
to
[code]

2. Change
[code]
to
[code]

Thanks!

[2017-03-11 20:01] cc7768 commented on #262
Was just thinking about this -- Long story which I'll generate another thread for. It doesn't look like we ever removed this dependency. Are people still in favor of removing this dep? (I am)

[2017-03-11 20:03] jstac commented on #262
@cc7768 Yes, definitely, I just haven't had time...

[2017-03-12 02:00] davidrpugh commented on #262
Agreed!

[2017-03-12 05:45] shizejin commented on #287
Sure. I have done these changes.

Also, in the `normal_form_game.py`, I change

[code]

to

[code]

I omit "array_like(int, ndim=1)" as I think it is included in "array_like(int or array_like(float))", and otherwise I can not shorten the sentence to be under 79. Do you think this change is acceptable?

Now that there is no any warning message, I will do PR if you think it's okay.

[2017-03-14 14:59] oyamad commented on #287
"array_like(int, ndim=1)" should have been "array_like(float, ndim=1)".
The maximum line length is 72 for docstrings, if we want to strictly follow [PEP 8](https://www.python.org/dev/peps/pep-0008/#maximum-line-length).

What about just
[code]

[2017-03-14 15:31] shizejin commented on #287
Looks concise and accurate. Should I do PR based on this?

[2017-03-19 05:32] Guo-Zhang opened #294 "Some suggestions on quantecon.game_theory.normal_form_game"
## Documentation
- Doucumentation should be a guidance to the high level interface. It should tell people how you design it and how to use it. It should not be organized by the order of the design but not the order of API. The API list can be list seperately after the documentation, but not the main parts of it.

## Names
- The names can be simpler so that it can be easiler to use. Python allows y

[2017-03-19 05:56] Guo-Zhang opened #295 "Suggestions on the organization of game theory subpackage"
We can think the game theory as the game forms. There are two main forms: normal form and extensive form. We can define two class for two forms. Then we provide a transformation between two forms. Then we can define the players, actions, payoffs, information and equilibrium concepts. The calculation of equilibrium can be defined by function and then make it into the class so that we can use it as

[2017-03-19 06:34] jstac commented on #294
@Guo-Zhang Thanks for your thoughts.  These parts of the library were written by very smart people who I respect a lot.  I will leave it to them to see if they want to accept any of your suggestions.

For these kinds of applications, the thing that we value the most is well written code that implements algorithms, or pull requests that improve those algorithms.

[2017-03-19 11:47] Guo-Zhang commented on #294
Thanks for your reply. I am very impressed by the algorithms. However, the implement is only part of the open source program. Whether it is easy to use depends on not only the implements, but also the friendly interfaces and tutorials. For open source programs, people will always care whether it is easy to use, otherwise they will change to another packages or write codes by themselves. We write o

[2017-03-19 22:59] #287 closed

[2017-03-19 23:48] cc7768 commented on #294
Hi @Guo-Zhang. This is great -- Thanks for giving us some feedback. We are always looking for constructive feedback from people using the code. I think what @jstac probably had in mind in his response, was that while ideas/suggestions are useful, what is often more useful is implementing the ideas/suggestions and letting them go through the pull request process. Having concrete changes in the code

[2017-03-20 05:21] oyamad commented on #294
@Guo-Zhang Thanks for the feedback.

For the API, if you do something like

[code]

it will be even shorter as `gt.Player`.

Adding labels to the actions, as in [`MarkovChain`/`DiGraph`](https://github.com/QuantEcon/QuantEcon.py/pull/237) and [`DiscreteDP`](https://github.com/QuantEcon/QuantEcon.py/issues/248), will be helpful.

I too am curious about your plot method to visualize a game. A demons

[2017-03-20 05:56] Guo-Zhang commented on #294
@cc7768 Thanks very much. I am going to explain more about my ideas.
First, I agree that `normal` lose information, but `games.normal` can show that it is a normal form game. Python allows `prob.normal` and `games.normal`  in order to make the names shorter and clearer, and avoid problems by namespace. So I think it's better to use short names to make it more Pythonic. Long name is something like

[2017-03-25 08:04] Guo-Zhang commented on #158
@sglyon It is GPL>=3. My team will work with this issue these days.

[2017-03-29 09:37] Guo-Zhang commented on #294
Sorry for the late reply. I searched for all possible methods, but no good way to plot them directly because of the poor implements of visualization in Python. Here I write a very simple sample:
https://github.com/Guo-Zhang/pyecon/blob/master/games/demonstrating.ipynb
Hope it can express part of my thinking.

[2017-04-12 01:57] mmcky commented on #254
Closing this Issue. I will open specific Issues highlighting areas with less than 80% coverage.

[2017-04-12 01:57] #254 closed

[2017-04-12 01:58] mmcky commented on #200
@lbui01 can this be closed now?

[2017-04-12 02:00] mmcky commented on #200
Closing as duplicate of #128

[2017-04-12 02:00] #200 closed

[2017-04-12 03:25] mmcky opened #298 "TEST: Add tests for arma.py"
Coverage:

[code]

needs additional tests. There are a number of plots that will affect coverage.
Should we test simple executability of these methods -- or add image comparison tests (http://matplotlib.org/devel/testing.html#writing-an-image-comparison-test). I tend to think exectuion is all we are after here and image testing will probably be a headache.

[2017-04-12 03:29] mmcky opened #299 "TEST: add tests for cartesian.py"
Coverage:

[code]

[2017-04-12 03:35] mmcky opened #300 "TEST: add test for compute_fp.py"
Coverage:

[code]

The coverage statistics here are largely driven by internal ``private`` functions used by ``compute_fixed_point``. Should we:

- [ ] Add tests for private functions used by ``compute_fixed_point``, or
- [ ] add ignore statements given the are implicitly tested through ``compute_fixed_point``

[2017-04-12 03:38] mmcky commented on #300
**Note:** Code Can be excluded from ``coverage.py`` using

[code]

for ``functions``, ``branching`` etc.

[2017-04-12 03:40] mmcky opened #301 "TEST: Add tests for distributions.py"
Coverage

[code]
This is largely a wrapper class, however it is a good idea to add tests for this class for ``skew`` etc.

[2017-04-12 03:45] mmcky opened #302 "TEST: Add tests for game_theory/lemke_howson.py"
Coverage

[code]

This has a similar issue to #300. Coverage is driven by internal private functions. As long as all internal functions are testing through ``lemke_howson()`` calls we should probably add ``# pragma: no cover`` to internal functions to fix the coverage statistics.

[2017-04-12 04:02] oyamad commented on #302
@mmcky Thanks for opening these issues on testing.

The decrease in the coverage value is in fact not because of the privateness, but because jitted functions with `nopython=True` are not "covered"; see https://github.com/QuantEcon/QuantEcon.py/pull/144#issuecomment-98728630.

But yes, fine with me to exclude private functions that are jitted with `nopython=True`.

[2017-04-12 05:05] mmcky commented on #302
Thanks @oyamad. I have pushed a branch that updates ``.coveragerc`` to skip ``@jit`` functions in the coverage statistics. This regex approach moves ``lemke_howson.py`` to 80+%

Perhaps I should fine tune from ``@jit`` to ``@jit(.*nopython=True)``

[2017-04-26 09:08] mmcky opened #304 "Migrate to using setuptools rather than distutils for package setup"
``setuptools`` seems to be a better solution, with some additional features over ``distutils`` that make packaging python packages easier.

For example it will allow ``develop`` environment

[code]

[2017-05-11 18:56] tlyon3 opened #307 "Pandas routine 'ols' removed. Move to 'statsmodels'"
In the 0.20.1 update, pandas remove ols and they recommend dependency on statsmodels. Seems like this error is isolated in the estspec.py file.

[2017-05-11 20:36] jstac commented on #307
@tlyon3 Thanks!
@natashawatkins Would you mind to have a look at this?

[2017-05-11 22:35] natashawatkins commented on #307
Yep this is also mentioned in PR https://github.com/jstac/QuantEcon.lectures/pull/306

[2017-05-12 04:32] natashawatkins commented on #307
Fixed in #308

[2017-05-15 21:27] #300 closed

[2017-05-28 14:25] oyamad opened #312 "Fix doc warning"
* [ ] WARNING: Block quote ends without a blank line; unexpected unindent.
  * quantecon/markov/approximation.py

[2017-05-31 03:05] #285 closed

[2017-06-19 13:12] oyamad opened #313 "DiscreteDP: Cycling in policy iteration with NumPy 1.13.0"
If [this notebook](https://github.com/oyamad/QuantEcon.notebooks/blob/e003347ff99d2c42f7769623486c49fc6f59a506/ddp_ex_MF_7_6_1_py.ipynb) is run with NumPy 1.13.0, policy iteration falls into an infinite loop oscillating between multiple optimal policies, probably due to rounding errors.
This does not occur with NumPy 1.12.1 (which is included in the latest Anaconda).

* Suspected? "[Bundled versio

[2017-06-29 06:14] mmcky opened #314 "Fix: Tic/Tac/Toc Utility"
Docstrings in Tic/Tac/Toc need to be updated.

[2017-07-05 00:36] oyamad commented on #312
@natashawatkins Has #315 also fixed this?

[2017-07-05 00:37] natashawatkins commented on #312
@oyamad Yes! Sorry I wasn't aware of this issue, thanks

[2017-07-05 00:37] #312 closed

[2017-07-05 00:37] #307 closed

[2017-07-05 00:38] oyamad commented on #312
Great, thanks!

[2017-08-03 06:31] #290 closed

[2017-08-03 06:53] mmcky commented on #234
The current utility has been generalized and this issue can be closed.

[2017-08-03 06:53] #234 closed

[2017-08-03 06:57] mmcky commented on #238
Upon closer inspection it looks like any ``method`` that doesn't include a docstring is not listed in the method table that is constructed

![image](https://user-images.githubusercontent.com/8263752/28909709-e03e3448-786c-11e7-8230-23e8d8e85d65.png)

[2017-08-06 15:55] natashawatkins opened #322 "New features for timing functions"
`.tic`, `.tac`, `.toc` are relatively basic at the moment.

As discussed in #319, possible improvements include:
* printing results with fewer decimal places by default
* suppressing output
* choosing appropriate units of measurement (similar to `%timeit`)
* running loops (like `%timeit`)

[2017-08-06 15:57] #314 closed

[2017-08-06 20:58] albop commented on #322
Another suggestion could be to print the file/line number from where the function is called. This could be done with a bit of metamagic (and a small performance cost).
For running loops, maybe something like https://github.com/QuantEcon/QuantEcon.py/issues/125 could be handy.

[2017-08-06 20:59] albop commented on #322
Also, a jitable version of `tic,tac,toc` would be cool. There is a bit of a trade-off between jitteability and functionalities, so maybe there could be two versions.

[2017-08-16 01:34] oyamad commented on #299
@mmcky What is the status of this issue? We have `cartesian.py` and `gridtools.py`, and `test_gridtools.py` but no `test_cartesian.py`. See also https://github.com/QuantEcon/QuantEcon.py/issues/143#issuecomment-128095418.

[2017-08-16 03:01] #301 closed

[2017-08-17 05:11] #302 closed

[2017-08-17 06:00] jstac opened #325 "Remove plotting functionality from ARMA"
I propose that we remove the plot methods (the last 5 methods) from [the ARMA class](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/arma.py) and embed them in [the lecture](https://lectures.quantecon.org/py/arma.html) instead.

This seems a more natural place for code that produces plots and it also would bring the Python lecture more in line with the Julia lecture --- see the fir

[2017-08-17 17:21] sglyon commented on #325
I think this would also remove the dependency on matplotlib, which would make quantecon even lighter-weight

[2017-08-18 03:27] oyamad commented on #109
Can we add [`@attr('slow')`](http://nose.readthedocs.io/en/latest/plugins/attrib.html) to `test_performance_*` for testing on a local machine (and add `-a speed=slow` to `.travis.yml`)?

[2017-08-25 05:58] oyamad commented on #325
Now [build is failing](https://travis-ci.org/QuantEcon/QuantEcon.py/jobs/268220128) for some unknown reason, but triggered by `matplotlib` anyway, it is a good timing to remove the dependency on `matplotlib`. Is the task just to remove all the plot function from `arma.py`?

[2017-08-25 06:02] jstac commented on #325
I'll work on this now.   The code has to be shifted into the lecture site.

[2017-08-25 06:06] oyamad commented on #325
OK, thanks.

[2017-08-25 06:29] jstac commented on #325
Umm, so I just accidentally committed to master ;-)

https://github.com/QuantEcon/QuantEcon.py/commit/985d9b8bacf0841ff871540c3f19923ad6465355

But it looks like the build is still failing

[2017-08-25 06:33] jstac commented on #325
OK, so I also forgot to remove the import.  I'll do this in a moment.

[2017-08-25 12:57] oyamad commented on #262
Done by #330 and #331.

[2017-08-26 00:08] mmcky opened #332 "Release latest version to PyPI"
I will be releasing a new version of ``QuantEcon`` to PyPI and Conda-Forge on Sunday.

[2017-08-27 21:31] jstac commented on #261
I agree with the need to profile.

Question: Can we automate parallelization of the max step in application of T or computation of greedy policies and get significant gains through the jit compiler?  See In[23] of this notebook:

http://nbviewer.jupyter.org/gist/natashawatkins/2ba8acca8dde831f4cafc09b9990b91c

(Thanks to @natashawatkins)

The gains there are large.  But this would need to be teste

[2017-08-28 00:12] oyamad commented on #261
We may try Numba's new [parallelization technology](http://numba.pydata.org/numba-doc/0.34.0/user/parallel.html).

[2017-08-28 00:55] jstac commented on #261
Yes, good point.

In my understanding this is still experimental, whereas the `parallel` flag on `@vectorize` is already standard.

[2017-08-28 03:15] oyamad commented on #261
For [this function](https://github.com/QuantEcon/QuantEcon.py/blob/fb4d3e22f99ed642118a52f1b0a3b39de51ecb80/quantecon/markov/ddp.py#L389-L407) we can compare `@guvectorize` and `prange`. For [the other functions](https://github.com/QuantEcon/QuantEcon.py/blob/fb4d3e22f99ed642118a52f1b0a3b39de51ecb80/quantecon/markov/ddp.py#L1042-L1064) I don't know how to use `@guvectorize`.

[2017-08-31 15:23] mmcky commented on #304
https://github.com/kennethreitz/setup.py

[2017-09-01 15:27] jstac commented on #298
Plot functions removed, closing

[2017-09-01 15:27] #298 closed

[2017-09-03 13:21] oyamad commented on #298
It seems [some tests are still not covered](https://coveralls.io/builds/13058205/source?filename=quantecon%2Farma.py).

[2017-09-18 09:26] thuybeu opened #341 "Problem with install QuantEcon"
I have installed QuantEcon according the following link: https://quantecon.org/quantecon-py, I did tried both, but I cannot use QuantEcon, I always got the error: "python setup.py install
python: can't open file 'setup.py': [Errno 2] No such file or directory" when installing it in the terminal, even I put the file in my current working directory.
Then, I try the code: pip install -e QuantEcon.py,

[2017-09-19 18:12] jstac commented on #341
@thuybeu Thanks for your comment.  @mmcky Would you mind to handle this?

[2017-09-19 19:51] mmcky commented on #341
@thuybeu thanks for raising an issue.

You should be able to install QuantEcon.py using:

[code]

or if you already have a version installed

[code]

these commands should be done on the command line. The package name on pip is ``quantecon`` not ``QuantEcon.py`` (looks like you tried: ``pip install -e QuantEcon.py``)

[2017-09-19 19:52] mmcky commented on #341
This may also be an issue with ``numba`` version number. You may want to try upgrading your ``anaconda`` environment using:

[code]

to update the package manager, and then

[code]

to update all of the packages on your machine.

[2017-09-23 06:22] thuybeu commented on #341
@jstac, @mmcky: Thank you for your help. There was problem with numba version number. I upgraded it first, then installed quantecon. It finally worked.

[2017-09-25 07:19] QBatista commented on #299
@mmcky I'm trying to work on this issue - would you have time to clarify its status?

[2017-09-26 23:11] mmcky commented on #299
@oyamad and @QBatista thanks for bringing my attention to this. It looks like ``cartesian.py`` and ``gridtools`` should be merged. They contain the same code (just different docstrings and some formatting changes). Looks like this PR failed to remove it (https://github.com/QuantEcon/QuantEcon.py/pull/149). As we have migrated to using ``grid_tools.py`` I will submit a PR to remove ``cartesian`` an

[2017-09-28 04:29] #322 closed

[2017-09-28 05:00] mmcky commented on #332
Done

[2017-09-28 05:00] #332 closed

[2017-09-28 05:00] mmcky commented on #325
This looks complete. Closing this issue.

[2017-09-28 05:00] #325 closed

[2017-10-05 01:29] #153 closed

[2017-10-06 04:48] QBatista opened #349 "TEST: Add test for lqnash.py"
The random_state option in lqnash.py currently does not have any supporting test code. (see #346)

[2017-10-15 11:00] jstac opened #350 "repeated names in directory"
There are a lot of repeated names in the list of attributes, filename and then class or function name:

![ss](https://user-images.githubusercontent.com/3887684/31584128-4c434b2e-b1e3-11e7-9d51-88ac95d3abb1.png)

e.g., `compute_fixed_point` and `compute_pf`, `ECDF` and `ecdf`.  We don't really need the module names here.  Should they be hidden, perhaps?  What's the convention?

[2017-10-15 11:01] jstac commented on #350
`numba` also appears as an attribute of the library...

[2017-10-15 23:05] mmcky commented on #350
Hey @jstac I am not sure what the convention is here. I will have a look at ``pandas`` or another major project to see what style they adopt.

[2017-10-19 05:25] mmcky commented on #299
This can be closed as `cartesian.py` is now removed.

[2017-10-19 05:25] #299 closed

[2017-10-19 05:26] mmcky commented on #278
Closing based on PR #279 and #320

[2017-10-19 05:26] #278 closed

[2017-10-19 05:29] mmcky commented on #178
I think this issue is in the wrong repository. This used to pertain to example code that was migrated to ``Quantecon.applications`` and ``QuantEcon.solutions``. Closing as no longer relevant here.

[2017-10-19 05:29] #178 closed

[2017-10-20 16:10] natashawatkins opened #354 "Getting rid of the LinearStateSpace argument in Kalman"
Wouldn't it be easier to just have the arguments that a `LinearStateSpace` object takes available when creating a `Kalman` object? It's somewhat cumbersome to first create the LSS object and then put that into the Kalman filter (you also need to import two classes).

We could just create a LSS object using the arguments in the kalman filter.

[2017-10-22 13:59] oyamad opened #356 "BUG: solve_discrete_riccati returns non-stabilizing solution"
I have got an LQ problem for which `LQ.stationary_values` returns some suspicious solution, where `solve_discrete_riccati` is a suspect.

**Different solutions: [`qe.solve_discrete_riccati`](http://quanteconpy.readthedocs.io/en/latest/tools/matrix_eqn.html#quantecon.matrix_eqn.solve_discrete_riccati) versus [`scipy.linalg.solve_discrete_are`](https://docs.scipy.org/doc/scipy/reference/generated/sc

[2017-10-22 22:47] jstac commented on #354
Yeah, fair point.  I had a look at the  code and the Kalman class never actually uses any of the functionality of the `LinearStateSpace` class internally.  So from a coding perspective there's no advantage linking them.

Plus, as you say, if we do need such functionality down the road we can always build an instance of LSS inside the class.

Could you please put together a PR that closes this issu

[2017-10-22 22:51] mmcky commented on #354
Thanks @jstac and @natashawatkins.
I was thinking of putting a release together but I will do so after this is resolved.

[2017-10-23 00:21] oyamad commented on #356
The same result obtains with QuantEcon.jl, by the way.

[2017-10-23 01:24] oyamad commented on #84
I got the same errors today.

[code]

[2017-10-23 01:44] mmcky commented on #84
Hey @oyamad I wasn't able to replicate this `test` failure.
I created the latest `anaconda` environment with

[code]

[2017-10-23 01:48] oyamad commented on #84
I am on Mac:

[code]

[2017-10-23 01:50] mmcky commented on #84
OK thanks for reporting @oyamad. Maybe it's time to add ``CircleCI`` and ``Appveyor`` here. We have these on ``conda-forge`` but that isn't run as frequently as this master repo.

[2017-10-23 02:10] mmcky opened #359 "Add OSX to travis.yml configuration"
Add OS X for platform specific testing in the ``travis.yml`` configuration file.

[code]

but the ``before_install`` needs to be made os independent.

https://docs.travis-ci.com/user/multi-os/

[2017-10-23 02:17] oyamad commented on #359
Would travis-ci/travis-ci#2312 help? (I didn't read the comments there though.)

[2017-10-23 02:29] oyamad commented on #84
Re https://github.com/QuantEcon/QuantEcon.py/issues/84#issuecomment-59520535, on my machine I have `cn = 3.591469197922365e+17` for `gamma = 0.` (for both `dare_test_tjm_2` and `dare_test_tjm_3`).

[2017-10-23 02:50] oyamad opened #360 "qe.solve_discrete_riccati versus scipy.linalg.solve_discrete_are"
Related to #84 and #356, but open a separate issue.

The claim in the [docstring](https://github.com/QuantEcon/QuantEcon.py/blob/9ff0b7e9200aa8b83bd14fe86c7f227ecf2a9c8d/quantecon/matrix_eqn.py#L109-L111) in `solve_discrete_riccati`

is no longer true.

* See [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.solve_discrete_are.html) for nonzero `N`, and
* see below for singu

[2017-10-23 02:51] mmcky commented on #359
thanks @oyamad that just saved me a lot of time. I'm guessing that is probably the reason that ``conda-forge`` uses CircleCI for OSX

https://circleci.com/

[2017-10-23 14:40] cc7768 commented on #354
I think this is a reasonable thing to do.

If you wanted to make sure you going from `LSS` to `Kalman` was low cost then one natural thing to do would be to add a method to `LSS` that created a `Kalman` object.

[2017-10-23 15:28] thomassargent30 commented on #354
Lets talk with John before changing this please. It makes sense not to
change it.  Tom

On Oct 23, 2017 9:40 AM, "Chase Coleman" <notifications@github.com> wrote:

I think this is a reasonable thing to do.

If you wanted to make sure you going from LSS to Kalman was low cost then
one natural thing to do would be to add a method to LSS that created a
Kalman object.

—
You are receiving this because

[2017-10-23 18:07] jstac commented on #354
Hi @thomassargent30, I think @natashawatkins has a good point here: To build an instance of `Kalman` you need to know about `LinearStateSpace`.  This makes sense on a mathematical level but forms a barrier to entry when coding, since users need to look up the documentation for two classes.

If in the future we need to use the functionality of `LinearStateSpace` inside `Kalman`, we can build an ins

[2017-10-23 23:26] #84 closed

[2017-10-24 01:07] thomassargent30 commented on #354
Go with what John and Natasha think is best.  There will be some general
equilibrium effects down the line because we have built some
notebooks (in the pipeline) about the Kalman filter that use the current
protocol.

On Mon, Oct 23, 2017 at 11:07 AM, John Stachurski <notifications@github.com>
wrote:

[2017-10-24 02:07] mmcky commented on #354
We might be able to use a `decorator` to keep backward compatibility. If an LSS object is passed we could then we can unwrap the object and pass in the data (from LSS).  Working out the interface will need some thought. @natashawatkins would you intend for ``A, C, G, H=None, mu_0=None, Sigma_0=None`` to be passed into Kalman instead?

[2017-10-24 02:27] jstac commented on #354
@mmcky Thanks, great suggestion.

@thomassargent30 This is a neat suggestion that will allow us to initialize the class with either the A, B, C matrices (for ease of use) or a corresponding `LinearStateSpace` instance (to exploit the fact that Kalman filters build on linear state space models).  With such an approach there will be no negative equilibrium effects for notebooks in the pipeline.

[2017-10-24 19:14] jstac opened #363 "Unify and improve `tauchen` and `rouwenhorst`"
The arguments to these two functions have different order, even though they do something very similar.

I think it would be worth breaking backwards compatibility to fix this.  We just need to take care to update the lectures accordingly.

Also, `ybar` is missing from `tauchen` and it would be good to have it.

See http://quanteconpy.readthedocs.io/en/latest/markov/approximation.html

I propose th

[2017-10-25 02:06] oyamad commented on #356
It turned out that `qe.solve_discrete_riccati` returns a non-stabilizing solution for the Riccati equation given by the inputs `A0, B0, R, Q, N` above, as opposed to the claim in the reference Chiang, Fan, and Lin.

A solution `P` of the Riccati equation with `A, B, Q, R, N` is *stabilizing* if `S = R + B.T @ P @ B` is invertible and the absolute values of all the eigenvalues of `A_F = A - B @ F`

[2017-10-25 02:18] oyamad commented on #356
@jstac How did you choose the values of `gamma` in [`candidates`](https://github.com/QuantEcon/QuantEcon.py/blob/ea900c44c47ba143aa17eb6db25cd5b78c210784/quantecon/matrix_eqn.py#L163) (in the initialization step in `solve_discrete_riccati`)?

[2017-10-25 02:23] oyamad commented on #356
Removing `gamma=0.0` from `candidates`, I got the same output as `scipy.linalg.solve_discrete_are` (i.e., the stabilizing solution).

The paper Chiang, Fan, and Lin says `gamma > 0`. Can we just remove `0.0` from `candidates`?

[2017-10-25 02:38] jstac commented on #356
Well done @oyamad , thanks for spotting this.  I can't remember how I chose `candidates` but it seems that `0.0` should not be in there.  Let's remove it.

[2017-10-25 03:09] #356 closed

[2017-10-25 03:16] mmcky opened #365 "Setup new release of QuantEcon.py"
I will release the latest version of ``QuantEcon.py`` on ``Friday 27th October 2017`` for ``PyPI`` and ``conda-forge``

[2017-10-25 23:54] #360 closed

[2017-10-26 00:28] oyamad opened #366 "robustlq.py: Add `method` option"
See https://github.com/QuantEcon/QuantEcon.py/pull/362#issuecomment-338985350

[2017-10-26 00:32] oyamad opened #367 "kalman.py: Add `method` option"
See https://github.com/QuantEcon/QuantEcon.py/pull/362#issuecomment-338985350

(The attributes `Sigma_infinity` and `K_infinity` should be implemented as `property`. EDIT: This part done by #396)

[2017-10-26 12:56] ilayn commented on #360
Hi @oyamad . I was searching for something else about Riccatis but I don't know how I ended up here :) Coincidentally I'm the one who revised the SciPy version of these solvers. Please let us know if you find discrepancies in Scipy versions too. Also if you want to extend your Riccati tests, we are using the CAREX and DAREX gallery for  continuous and discrete solvers which you can find [here](htt

[2017-10-26 13:17] oyamad commented on #360
@ilayn Thanks for your message! We have a DARE solver based on a doubling algorithm, written by @jstac and @thomassargent30 (I am just a user, having no detailed knowledge about solution algorithms...). Our solver had a small bug, which has been fixed, and now, at least for my usecases, its outputs coincide with those by your current `solve_discrete_are` (up to small approximation errors).

It wil

[2017-10-29 13:16] ilayn commented on #360
Ah OK. There are some generalized Lyapunov solvers planned in the pipeline. I have the direct solvers coded in some other library in case you need a basis to built on (they are 5x slow compared to matlab now as they are currently in pure Python). I will try to polish them at some point and propose push them into SciPy at some point. Current main problem is detecting no solution cases properly but

[2017-10-31 00:52] natashawatkins opened #370 "Include QuantEcon.py in Anaconda"

[2017-11-03 18:38] #189 closed

[2017-11-05 23:46] mmcky commented on #365
``0.3.7`` has been released. Closing.

[2017-11-05 23:46] #365 closed

[2017-11-05 23:46] mmcky commented on #304
See PR #369

[2017-11-05 23:46] #304 closed

[2017-11-06 05:45] mmcky opened #373 "[Style] Use of unicode as arguments and keyword arguments?"
There has been a proposal to use ``unicode`` arguments for python functions. Give we support python ``3.5+`` this would be technically fine.

However, I would currently vote for **not** using them as I think it might make the library a bit harder to use for some people. But I would like to hear what the community thinks and we can add the decision to a style guide.

[2017-11-16 05:24] jstac opened #374 "Integrate LQ control simulations and LSS?"
Could the simulation of paths from lqcontrol.py be done by calling the simulation methods from the linear state space module (lss.py)? That would be a nice way to integrate them.

[2017-11-16 05:25] jstac commented on #373
I also vote not.  In my view this issue can be closed.

[2017-11-20 03:03] #373 closed

[2017-12-04 06:09] natashawatkins commented on #262
Seems we can close this @mmcky? `matplotlib` only returns files in the docs and something related to sphinxext

[2017-12-04 06:15] mmcky commented on #262
indeed. Thanks @natashawatkins

[2017-12-04 06:15] #262 closed

[2018-01-04 12:45] oyamad opened #380 "Remove reference to `models`?"
The linked repo has disappeared:

https://github.com/QuantEcon/QuantEcon.py/blob/475650b915ff6b42e1d53eba650d919ccacb46a6/quantecon/models/__init__.py#L1

@mmcky
Can we remove the `models` subpackage entirely so that we do not need to add `--exclude=models` when executing `nosetests`?

[2018-01-07 14:57] oyamad opened #381 "pure_nash_brute: Add `tol` option"
As in [`NormalFormGame.is_nash`](https://github.com/QuantEcon/QuantEcon.py/blob/e61702fd6622ae046d8252b38ab101454c2e74b2/quantecon/game_theory/normal_form_game.py#L651).

[2018-01-12 13:31] #381 closed

[2018-01-14 12:13] peymanbarca commented on #269
jhftfgfd

[2018-01-15 00:52] #380 closed

[2018-01-27 05:56] oyamad opened #386 "Return value of timing functions"
* I think `toc` and `tac` should return a `float`, and there is no point of returning a `str`.
* `digits` should be used to control the number of digits of the **printed** value, not of the returned value.

See also #322.

[2018-02-06 21:51] #386 closed

[2018-03-06 06:16] jstac opened #390 "Replace DiscreteRV with jitted function"
It would be nice to make this functionality useful by replacing the class with a simple jitted function --- which can then be embedded in other jitted functions.

Suggested new syntax:

`draws = discrete_rv(p_vals, x_vals, size=1000)`

[2018-03-07 18:54] #390 closed

[2018-03-08 01:52] oyamad opened #393 "BUGs in random_choice"
I tried the recently merged `random_choice` #391 and found the following:

1. This doesn't work with Numba v.0.36 with the following error:

[code]

   It works with Numba v.0.37, so this should be a bug in Numba v.0.36. The problem for us is that the latest Anaconda contains Numba v.0.36.2.

2. Setting a seed with `np.random.seed` within a library (hidden from the user) is problematic: it seems t

[2018-03-08 03:04] oyamad commented on #393
@jstac I see.

Would it be possible to set a seed in your own function, removing `np.random.seed` from `quantecon`?

[2018-03-08 18:46] jstac opened #394 "remove authors' names"
I propose we remove authors' names from all files in line with standard open source conventions.

Example: https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/discrete_rv.py

It might be worth flagging this on QuantEcon.jl

[2018-03-08 18:56] jstac commented on #393
@oyamad Yes, that's certainly possible.

Regarding the numba version, thanks for picking that up.  Version 0.36.2 has many problems.

So, the proposal is

1. drop the ability to set seeds in these functions (apart from externally, as you suggest)
2. replace `None` with `0` as the default argument for `cum_sum`

[2018-03-08 22:52] natashawatkins commented on #394
Should we have a list of contributors somewhere on the webpage or github?

[2018-03-08 23:11] jstac commented on #394
GitHub records this info for us anyway.

[2018-03-08 23:59] sglyon commented on #394
100% agree!

[2018-03-08 23:59] sglyon commented on #394
If they are still on Julia codes we should remove them there also

[2018-03-09 01:03] oyamad commented on #394
Fine with me.

[2018-03-09 06:17] oyamad commented on #393
@jstac [Here](https://github.com/QuantEcon/QuantEcon.py/blob/5b35c4aa42cff6ce633ca8fb8d33ce8795927b0a/quantecon/random/utilities.py#L166-L206)'s my proposal:

[code]

Works with both Numba 0.36.2 and 0.37.0.

[2018-03-09 13:57] cdagnino opened #395 "Adding inequality/segregation indices"
Hi,

Do you think adding ways to calculate inequality/segregation would fit the scope of the quantecon project?
I already have one [in this repository](https://github.com/cdagnino/ReardonSegregationIndex) that I could contribute.

[2018-03-10 19:52] jstac commented on #395
@cdagnino My instinct is yes, and the code looks well written.  thanks for offering.  My hesitation is that this code is code is quite isolated from what we have so far.  If it was part of a broader set of code on inequality and segregation measures that would certainly be better.

@mmcky ?

[2018-03-10 23:39] jstac commented on #393
@oyamad This is beautiful.  Thank you.  I learned a lot from reading the code.

I fully support this.  Would you mind to make a PR?

[2018-03-11 04:14] mmcky commented on #395
@cdagnino I am keen to diversify the library to include a distributed set of tools that are useful to economists. I will put some time this week into thinking how best we could organise this material, as I have been interested in assembling a ``datalab`` submodule that packages data related routines together.

My main question is how best to organise the code to sensibly accomodate a variety of di

[2018-03-11 05:11] oyamad commented on #367
@mmcky Sorry I should have clarified, but #396 has done the task described in the second line in the initial comment.

The issue "Add `method` option" is still open.

[2018-03-12 00:52] #393 closed

[2018-03-12 19:19] jstac opened #398 "update discrete rv code"
Now that #397 is merged, I propose that we remove the `DiscreteRV` class

https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/discrete_rv.py

Not a good idea to have two sets of code for doing the same thing.

The lectures will all need to be updated accordingly, but this is a good thing, since it encourages our transition to exploiting jit compilation more thoroughly.

CC @oyamad @mmc

[2018-03-13 01:00] oyamad commented on #398
My only concern is seeding of the random number generator.

One has to set a seed within a jit function, so

[code]

does not work.

I am fine with removing `DiscreteRV` (I never used it in my code), but just pointing out these are not exactly the same; one is for general use and the other for use within a jit function.

[2018-03-13 05:40] jstac commented on #398
@oyamad I've looked through the lectures and that won't be an issue.

@mmcky If you agree with deleting then let's coordinate with the changes in the lectures.  I'll open a suitable issue there.

[2018-03-13 22:57] mmcky opened #400 "Notification: Direct commits!"
@oyamad and @QBatista Apologies. I made direct commits to the repository this morning to release version ``0.3.8`` without going via a PR. This was my mistake. I will use PR's for future releases to give visibility.

I will close this in a couple days - just wanted to let you know.

[2018-03-14 00:38] oyamad commented on #400
@mmcky No problem. Thanks for letting us know.

I wonder if you could help us in editing `qe_apidoc.py` or other files for PR #392, possibly for version `0.3.8.1` (or `0.3.9`) (so not in a hurry at all).

[2018-03-14 01:52] mmcky commented on #400
Hi @oyamad. Absolutely. I have been a bit distracted these past couple of days debugging some of our lecture compilation infrastructure. I can work on getting that documentation working tomorrow (hopefully) - shall I make a setup a PR to your QuantEcon.py fork?

[2018-03-14 02:06] oyamad commented on #400
@mmcky Please edit the branch in the fork dicrectly (an invitation sent). Thanks!

[2018-03-15 00:39] mmcky opened #402 "Setup automated GitHub release notes"
This might be useful for generating automated release notes

https://github-tools.github.io/github-release-notes/concept.html

It would be nice for release notes to be adjacent to the release files on the GitHub release page.

[2018-03-15 01:05] mmcky commented on #402
This tool is used on ``QuantEcon.jl``

https://github.com/skywinder/github-changelog-generator

[2018-03-15 19:13] cdagnino commented on #395
Hi,

@jstac @mmcky  I agree 100% with the isolation problem of the code I linked.
If y'all have some thoughts on the interface/syntax for this `datalab` submodule (which I'm guessing would share some ideas from the more general `Quantecon` module) then I can adapt my code to give a first taste of inequality/segregation measures.

I think there are a bunch of inequality and segregation indices that

[2018-03-15 21:35] jstac commented on #395
I think these indices are a great example of what we could usefully code up for economists.  And if there's a number of them we can consider making a subpackage.

@cdagnino Might you be willing to take the lead in developing this subpackage, if we decide to go ahead?  We can probably devote RA resources to helping out, in that case...

[2018-03-20 05:38] mmcky commented on #258
May want to consider migrating to pytest: https://docs.pytest.org/en/latest/

[2018-03-20 19:34] cdagnino commented on #395
@jstac I'd be interested, but I promised myself not to undertake anything semi-big until I finish my dissertation. I'd be happy to contribute with code and ideas though.

[2018-03-22 02:32] mmcky opened #404 "Improvements to auto-generated CHANGELOG.md"
Suggested improvement to ``CHANGELOG.md`` file generator from @oyamad

This is an issue of the software, but it would be nice if the names of all the collaborators (committers) show up as contributors of a PR; see for example

https://github.com/QuantEcon/QuantEcon.py/pull/403/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR9

where among the four committers, only the name of the person who opens the

[2018-03-22 02:32] #400 closed

[2018-03-22 23:43] #394 closed

[2018-03-22 23:43] #402 closed

[2018-04-28 05:10] oyamad commented on #216
With version 0.38.0, "Numba now allows the passing of jitted functions (and containers of jitted functions) as arguments to other jitted functions" ([release notes](http://numba.pydata.org/numba-doc/0.38.0/release-notes.html#version-0-38-0)).

See an [updated version](http://nbviewer.jupyter.org/gist/oyamad/19e1b44df2db1373a2fc39b3967775e3) of @albop 's notebook in https://github.com/QuantEcon/Qua

[2018-04-28 05:39] oyamad commented on #216
And the [update](http://nbviewer.jupyter.org/gist/oyamad/aab30b7e705c9d5b5f24/jitclass_test03.ipynb) of my previous notebook in https://github.com/QuantEcon/QuantEcon.py/issues/216#issuecomment-168287601.

[2018-04-28 10:13] jstac commented on #216
Awesome!

Until someone else provides these, it would be nice to have some basic jitted scalar optimization and root finding routines in QE.py...

[2018-04-28 13:37] sglyon commented on #216
Wow, that's huge news!

I agree about having these routines here. Having them in QE.jl has been useful for me

[2018-04-28 20:29] albop commented on #216
Very cool indeed ! Just when I had neglected to look at numba release notes.
It's a very good idea to provide simple numba-compatible optimizers. In the short term there doesn't seem to be another home for them but there are discussions on scipy mailing list about using numba in the future.
I actually wonder about how far we can go with this jitted function arguments. It would be wonderful if we c

[2018-04-30 03:44] mmcky commented on #216
@sglyon are these the ones you've implemented in ``QE.jl`` https://github.com/QuantEcon/QuantEcon.jl/blob/273781c2a0a4166a87c6f29cee8041c83b9fb30d/src/zeros.jl. I might reference these implementations in separate issues for development in ``QE.py``.

[2018-04-30 12:15] sglyon commented on #216
Those are the 1d root finders.

I also have the golden method optimization routine here https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/optimization.jl, but would love to have more.

[2018-05-04 01:44] mmcky opened #406 "Add more helpful failure notifications for outdated Numba versions"
Based on recent feedback -- I think it would be good to add more useful failure notifications for minimum `numba` version required to run QuantEcon. It is the main package that requires to be up to date for QuantEcon.py to run properly.

I propose to add a test on load for ``numba.__version__ >= 0.37`` and if not satifised indicate how to update it with ``conda`` rather than ``pip``

[2018-05-11 14:40] zoof opened #408 "Import fails"
Running Anaconda Python 3.6.  `quantecon` installed using `conda install -c conda-forge quantecon`.  Conflict in package versions?

[code]

[code]

[2018-05-11 15:03] mmcky commented on #408
Hi @zoof can you try install a newer version of `numba`

``conda install numba=0.37`` should work using conda.

please let me know if that doesn't work. Thanks.

[2018-05-18 23:57] jstac commented on #395
@cdagnino Might  you be willing to contribute just a gini index calculator and a Lorenz curve calculator in the short term?  Hopefully it wouldn't take long.

[2018-05-20 23:50] mmcky opened #410 "Cleanup of QuantEcon.py - November"
I would like to tidy up QuantEcon.py (thanks @oyamad for kicking this off). Please add any items re: maintenance of the repo below. I will then review this first week of `November`.

- [x] review ``pip-requirements.txt`` for use and contents (used by `readthedocs` and documented in a new `wiki` page: https://github.com/QuantEcon/QuantEcon.py/wiki/Setup-and-Infrastructure)
- [x] add documentation f

[2018-05-23 22:11] cdagnino commented on #395
@jstac Yep! That sounds like doable, at least a simple version without standard errors.

Any suggestions on the implementation, particularly regarding how it should interact to the rest of the QuantEcon codebase?

I'm guessing I could write a `Lorenz` and `Gini` class that takes a `numpy vector` or `pandas Series`. Then these classes can be used to provide numbers for the indices, decompositions a

[2018-05-25 13:32] mirca opened #411 "Kalman filter docstring mistake?"
Hi,

I believe there is a mistake in the docstring of ``x_hat``. Where it says ``mean x_hat and covariance
matrix Sigma of the prior/predictive density``, it should say only ``mean of the prior/predictive density.`` Let me know if that's legit.
[code]
https://github.com/QuantEcon/QuantEcon.py/blob/35f41b118b26c12e104d412ff33a252e903c0bfd/quantecon/kalman.py#L41

[2018-05-26 22:52] mmcky commented on #411
thanks @mirca for the report. I will look into this when I'm back in the office on Tuesday.

[2018-05-28 11:47] oyamad commented on #410
- [ ] Remove unused data files from `data`

[2018-05-28 11:54] oyamad commented on #410
* Test files other than those under `quantecon/tests` are not installed. For example, look into `site-packages/quantecon/markov` on your machine.
* Possibly related to the above and to the role of `pip-requirements.txt`, listing manually subdirectories here https://github.com/QuantEcon/QuantEcon.py/blob/35f41b118b26c12e104d412ff33a252e903c0bfd/setup.py#L97-L104 does not seem really clever. Would `

[2018-05-31 22:37] cdagnino commented on #395
@jstac Took a first try [here](https://github.com/cdagnino/inequality_measures_gym/blob/master/Lorenz%20and%20Gini.ipynb)

Haven't implemented much, but I figured out the issue you had with the Pareto curve sampling and the Gini coefficient.
Turns out `numpy` doesn't have a real Pareto distribution, but rather a Pareto II or Lomax!
Once you "rescale", your graph works fine.

Stay tuned.

[2018-06-01 16:20] jstac commented on #395
@cdagnino  Nice, thanks!  I guess you could use the same idea for the `gini` test --- at those extreme distributions the coefficient should be close to zero or close to one.

And thanks for the fix vis-a-vis the Pareto distribution!

If you get a chance to finish the tests then please submit this code as a PR and @mmcky (the package maintainer) will help get it merged.

We're just about to launch

[2018-07-07 00:26] jstac opened #419 "Add multivariate optimization to quantecon.optimize"
It would be nice to have at least one multivariate maximizer, akin to our Brent based scalar routine in

https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/optimize/scalar_maximization.py

This is a topic I know very little about but I'm thinking of a local routine such as this one:

https://docs.scipy.org/doc/scipy/reference/optimize.minimize-neldermead.html

Or perhaps this one, whi

[2018-07-07 01:58] cc7768 commented on #419
Happy to share -- [link]((http://nbviewer.jupyter.org/github/QuantEcon/QuantEcon.notebooks/blob/master/chase_nelder_mead.ipynb)). This was obviously more of a learning exercise than an attempt at writing efficient code, but I think it is enough to build off of.

I think NM is definitely the right place to start -- It's simple and relatively robust. However, adding a method that allows for box cons

[2018-07-09 00:45] chrishyland commented on #419
Thank you for the notebook @cc7768 . I worked my way through it and found it very informative! How would you go about adding bounds on which the NM algorithm searches if doing so is even possible?

[2018-07-09 04:44] cc7768 commented on #419
You are correct that the way I coded up the NM algorithm didn't allow for any constraints (box or otherwise) on the solution. Others have actually found ways to include box constraints -- I haven't read this closely (but I have used their code successfully), but `NLOpt`'s NM algorithm allows one to impose box constraints. You can find the details and a couple citations on their [algorithms page](h

[2018-07-09 04:58] jstac commented on #419
I think a lot of people are hoping that, @cc7768.

In a month or so they will at least be able to use `quantecon.optimize`, which will provide the basics --- and perhaps a starting point for a dedicated library.

Thanks for contributing your code.

[2018-07-09 08:08] chrishyland commented on #419
Hi @cc7768  thanks for the response and pointers. If I understand correctly, the NLOpt's only handles box constraints (bounds) but not constraints in general? What are your thoughts on to also incorporate constraints, we simply cast the constraints as penalties instead (https://en.wikipedia.org/wiki/Penalty_method)?

Additionally, going through Steven Johnson's implementation of the NM algorithm w

[2018-07-25 01:26] jstac opened #422 "Add robust jitted root finding routine"
I would like to have a jitted robust root finding method such as brent or bisection, following on from PR #417.  Bisection at least would be easy.

[2018-07-25 01:27] mmcky opened #423 "update RTD"
Read the Docs has recently started failing.

It looks like they have changed the way requirements are specified

https://docs.readthedocs.io/en/latest/yaml-config.html#requirements-file

[2018-07-26 23:55] chrishyland commented on #419
Hi @cc7768 and @jstac

I've refactored the original Nelder Mead and jitted it, but I am quite sceptical on whether it works properly (it gives the same solutions as the original one). I've pushed up a notebook in this
[link](https://github.com/chrishyland/QuantEcon.py/blob/optimise/quantecon/optimize/Nelder-Mead-Trial.ipynb).

I've written some testcases at the bottom of it and also had a comparis

[2018-07-30 12:03] #422 closed

[2018-08-01 01:02] mmcky opened #425 "Issue new release of QuantEcon.py"
I am about to issue a new release of QuantEcon.py and I am thinking of incrementing our major version number to `0.4.0` due to the addition of a new subpackage (`optimize`).  This got me thinking that the way we use version numbers in my head is:

1. ``major version`` = currently `0` to indicate library is in active development
2. ``minor version`` = new subpackage or backward incompatible change

[2018-08-01 01:08] jstac commented on #425
Sounds good to me @mmcky

[2018-08-01 01:15] davidrpugh commented on #425
@mmcky your logic seems very similar to the ideas in [semantic versioning](https://semver.org/).

[2018-08-01 01:16] mmcky commented on #425
thanks for the link @davidrpugh. Great.

[2018-08-18 06:59] #423 closed

[2018-08-21 09:28] pkofod commented on #419
Projection like that can work, and is basically the way it's done in NLopt and elsewhere. You have to be careful though, as you might end up in a situation where your simplex collapses into a lower-dimensional subspace. This means that you have a coordinate that doesn't change unless you end up in the `shrink` step of Nelder-Mead's algorithm. Even worse, if that bound is at `0`, a shrink step can'

[2018-08-21 11:50] davidrpugh commented on #419
I would also like to understand why `quantecon` should have its own optimize sub-package as opposed to contributing relevant code upstream to `Scipy` (or Julia equivalent).  Main reason that I came up with is that `quantecon` has `numba` as a dependency which allows for substantial efficiency gains over `scipy` functionality.

[2018-08-21 18:06] jstac commented on #419
Thanks for your comments guys.   @davidrpugh It's all about Numba.   I want some lightweight optimization routines that can be jit-compiled inside Bellman operators and the like.  Now that we have them I'll combine them with @albop's jitted interpolation routines to numba-fy all our dynamic programming code on the lecture site.

Speed in the routine itself is less important than being able to jit

[2018-08-21 21:25] #425 closed

[2018-08-22 07:18] pkofod commented on #419
Yes, this certainly makes sense in Python, until SciPy - or maybe an alternative - comes up with general purpose optimization code in numba.

[2018-08-28 12:14] pkofod commented on #419
What kinds of constraints are we talking about?

[2018-08-28 18:26] jstac commented on #419
I thought we decided that box constraints (a_n <= x_n <= b_n for all n) were enough last time we discussed this?  If you think we need more then it would have to be inequality constraints, so we can implement box constraints.

[2018-08-30 04:56] chrishyland commented on #419
Ah right. The thing is that what @pkofod mentioned earlier about potential issues and if we have an inequality constraint implemented, that gives us both the benefit of box constraints but also having inequality constraints which will come in quite handy in the future.

[2018-08-30 04:59] jstac commented on #419
Sure thing.  Sounds good.

[2018-09-19 15:35] guihigashi opened #434 "game_theory\support_enumeration.py"
I want to ask if this works on some other OS (I use windows). This code causes numba to complain about the zip in the for loop at line `104`, and the same function works if i remove the argument `nopython=True`, default is `false`. Maybe the problem is my system or should i make a PR?
Thanks

[2018-09-19 16:45] jstac commented on #434
If you type

[code]

what do you get?

[2018-09-19 22:30] guihigashi commented on #434
`0.39.0`

[2018-09-19 22:35] jstac commented on #434
@guihigashi Thanks for reporting this.  Would you mind to copy and paste a minimal piece of code that generates the error, along with the error message?  We can then test it on a few machines.

[2018-09-19 23:26] guihigashi commented on #434
this is from the game theory notebook
[code]
Error message
[code]

[2018-09-20 00:27] oyamad commented on #434
No, I don't have access to a Windows machine myself. I will try to ask some of my students later today.

@guihigashi Are you on a 32-bit machine?

[2018-09-20 00:33] guihigashi commented on #434
64-bit

[2018-09-20 00:34] oyamad commented on #434
@guihigashi Can you show the out put of the following?

[code]

[2018-09-20 00:46] guihigashi commented on #434
`<class 'numpy.int32'>`

[2018-09-20 00:51] guihigashi commented on #434
ok, it works if i change line 88 from `supps = (np.arange(k), np.empty(k, np.int_))` to `supps = (np.arange(k), np.empty(k, np.int64))`

[2018-09-20 00:51] oyamad commented on #434
Thanks.

A workaround should be the following:
Replace https://github.com/QuantEcon/QuantEcon.py/blob/64918ce0090e7aa74d61e4e1f03ed57e11461e16/quantecon/game_theory/support_enumeration.py#L88 with

[code]

I will make a PR later today.

[2018-09-20 00:55] oyamad commented on #434
@guihigashi Good, thanks. But I think it would be better to guarantee the dtypes of the elements of the `supps` tuple to be the same (on any platform).

[2018-09-20 00:55] guihigashi commented on #434
thanks, I'll stick with your solution.
was it because the tuple was mixing 32 bits with 64 bits?

[2018-09-20 00:55] guihigashi commented on #434
yes, of course. Code portability.

[2018-09-20 00:55] oyamad commented on #434
Yes, I believe that's the cause of the error.

[2018-09-20 04:13] #434 closed

[2018-09-20 04:42] oyamad commented on #434
@guihigashi Will you please try the fixed version on `master`. Thanks.

[2018-09-26 13:20] jstac commented on #395
@rebekahanne Might you have time to help get this merged?

[2018-09-26 21:18] jstac commented on #395
@rebekahanne Great, thanks.  I'd appreciate it.  The code is there already and we want to implement this functionality just as functions with corresponding tests.  This is the main QuantEcon Python code library and @mmcky is the current gatekeeper.  You'll need to fork the repository, collect together the code and tests in a branch and them submit a pull request.  If you browse the repository you'

[2018-09-27 00:10] rebekahanne commented on #395
@jstac All right -- will do!

[2018-09-28 21:37] cdagnino commented on #395
@jstac @rebekahanne Apologies for my silence. I've made the changes on #414 . Hopefully I can make a pull with that.

[2018-09-28 21:53] rebekahanne commented on #395
@cdagnino I'll write the tests etc. this weekend so that we can merge the code soon.

[2018-09-29 11:40] jstac commented on #395
Thanks guys.  @rebekahanne It looks like there are some tests in the branch that @cdagnino references above.  But it would be great if you could review the code and help it move forward until merged.  It would also be nice to have a lecture that shows off this code once it is merged.  @rebekahanne, perhaps we could discuss this again later.

[2018-09-29 14:07] cdagnino commented on #395
@rebekahanne I pushed some new code and tests yesterday on #414 . If you wanna review it then hopefully I can do a pull request on that

[2018-10-06 02:10] #367 closed

[2018-10-06 21:11] cdagnino commented on #395
I can code the Duncan Index and the Reardon Index next.

For the lecture notes, I think a nice application would be to use (comparable) income data for a few countries, but a quick google search didn't show up much.

[2018-10-07 00:13] rebekahanne commented on #395
@cdagnino Thank you! I can talk to @jstac about how we would want to develop a lecture.

[2018-10-07 09:27] jstac commented on #395
Thanks guys, sounds great.

As a start we can illustrate the indices with a notebook here with some basic examples: http://notes.quantecon.org/.  Perhaps you two might be willing to collaborate and put your names on that?  Even examples with simulated data will be useful to readers.

I have already written code for a lecture with the Lorenz curve function and the Gini coefficient function.  I'll p

[2018-10-07 10:39] #411 closed

[2018-10-07 14:27] rebekahanne commented on #395
That sounds like a good plan.

@cdagnino , if you're willing, we can coordinate to put together a notebook with examples/explanations of the code etc.

[2018-10-10 19:33] cdagnino commented on #395
@rebekahanne Sure! Do y'all use gitter / slack or something else for a smoother interaction?

[2018-10-10 19:39] natashawatkins commented on #395
I can add you to the slack. What’s your email?

[2018-10-10 19:40] cdagnino commented on #395
cdagnino at gmail

[2018-11-04 05:33] QBatista opened #442 "Function value convergence test for `brent_max`"
Without a function value convergence test, `brent_max` can fail on simple functions, for instance:

[code]

Adding a function value convergence test should solve this issue.

[2018-11-14 03:31] #419 closed

[2018-11-18 04:50] chrishyland commented on #442
Hi @QBatista
Sorry for the slow response but I just finished most of my exams for the semester this week. Will have more time to help out.

Thank you for pointing that out. Just a few quick (naive) questions which would be helpful to enlighten me. What did you mean by function value convergence test? It would be helpful for you to direct me to some resources on this. Currently we checked whether i

[2018-11-19 06:54] QBatista commented on #442
@chrishyland By function value convergence test, I mean a termination condition that depends on the sequence of function evaluations. An example of an optimization method that uses such a test is [Nelder-Mead](https://github.com/QuantEcon/QuantEcon.py/blob/01ee68dbbd815b6275192a707377bb12e5e9da8f/quantecon/optimize/nelder_mead.py#L212), where during each iteration, the algorithm is terminated if a

[2018-11-28 20:33] chrishyland commented on #442
Hi @QBatista

Another update. The issue is the line
`fulc = a + golden_mean * (b-a)` near the top of the brent_max function. It's interesting because when you set the lower bound and upper bound a,b to infinity, the aforementioned line has issues. If you set the bounds to be finite numbers, then you start getting stuff that's kind of strange. When you change the bounds of brent_max, the maximizer

[2018-12-02 04:08] chrishyland commented on #442
Thank you for the explanation @QBatista . I was wondering about why those particular values were the maximizer for a function that is just a constant, your explanation cleared up alot.

I'm more than happy to keep working on resolving this issue, just let me know or if you have any other things you want me to take a look at, just let me know.

[2018-12-05 00:12] natashawatkins commented on #395
Hi @rebekahanne and @cdagnino - is the notebook almost ready to go? I think a bit more explanation could be added, and then we should publish it to notes.quantecon.org and make note of the new functions in QuantEcon.py. Is there anythin else you are planning to add?

[2018-12-05 02:05] natashawatkins commented on #395
It would also be great to add more inequality measures to QuantEcon.py in the near future

[2018-12-05 20:31] rebekahanne commented on #395
I got fairly distracted exams, so we still need to add a bit more. The data you gave us actually has many years available, so it might interesting to look at a time series of Gino coefficients and Lorenz curves etc.

[2018-12-05 21:51] jstac commented on #395
@rebekahanne Sounds great.  It would be fascinating to see how they both evolve.

The Lorenz curves could be bunched together into a 3D surface, with time on one axis, to show how they have changed,

@cdagnino You mentioned contributing [this code](https://github.com/cdagnino/ReardonSegregationIndex) a while back.  Are you still willing?  What else should we add?  How about the Shorrocks segregati

[2018-12-05 22:15] rebekahanne commented on #395
@jstac That's a great idea, thank you! My first thought was just to plot the contours, but I'll try the 3D surface, too, to see if this helps clearly display change over time.

[2018-12-09 13:12] rht commented on #143
With
[code]

99.9% happens in a numba-ified function  `_repeat_1d`
[code]

[2018-12-09 13:13] rht commented on #143
#98 appears to have been resolved.

[2018-12-09 15:03] rht opened #449 "Startup time is slow"
I timed each of
[code]

The numpy import took 0.288s. The quantecon import took 5.007s.
From `python -X importtime` I found the most time consuming imports are (not exhaustive because the importtime output is too big to parse by eye):
(unit: in ms)
1. 636 quantecon.arma (mainly scipy.signal)
2. 2820 quantecon.random
3. 1121 quantecon.quad (mainly sympy)
4. 520 quantecon.game_theory
5. 507 numba

S

[2018-12-10 02:38] #359 closed

[2018-12-10 13:50] oyamad opened #452 "Different functions have the same name in test_scalar_max"
There are two different functions called `test_brent_max` in `test_scalar_max`: See https://coveralls.io/builds/20541306/source?filename=quantecon/optimize/tests/test_scalar_max.py.

[2018-12-11 00:53] #442 closed

[2018-12-11 02:13] rht opened #457 "Conventions for linting the code?"
I ran `flake8 --ignore=F401,E501,E226,E231,W291,E241 quantecon`. Found ~405 lint errors excluding the errors I explicitly ignore. There are unused variables and imports scattered around. Would it be fine if I apply [yapf](https://github.com/google/yapf) to the codebase?

[2018-12-11 04:16] natashawatkins opened #460 "docs won't compile local version"
I'm getting this error:

![image](https://user-images.githubusercontent.com/21038129/49778096-84fdae80-fd57-11e8-9d7b-0987819679a0.png)

[2018-12-11 15:21] rht commented on #460
Strange that the `matplotlib` error happens 1. only recently, 2. only at a specific `:math:` line. Possibly `matplotlib.sphinxext.only_directives` used to be builtin, then it is no longer the case at most recent sphinx version.

[2018-12-13 01:17] #109 closed

[2018-12-13 21:42] massich opened #463 "possibly outdated installation documentation"
I was googling how to have a dual conda environment (one for users, one for dev) and I ended up here:https://quantecon.org/wiki-py-conda-dev-env I checked up the repo, and you no longer have conda enviroments and have migrated to pip environments.

maybe you want to check it.

---
ps: shall I forget about conda and migrate everything to pip?  I couldn't find your discussion about it. (https://gith

[2018-12-14 00:09] mmcky commented on #463
thanks @massich for reporting I will check this.

[2018-12-14 01:42] #449 closed

[2018-12-17 02:06] mmcky commented on #463
hi @massich we changed our `read the docs` to use `pip-requirements` mainly to remove some duplication. We still use `anaconda` and `anaconda` environments for development of `quantecon`. We find `anaconda` really good to work with -- but use `pip` for simpler environment tasks such as `rtd` and `travis`

[2018-12-17 02:07] mmcky commented on #463
we mainly leave users to define their own environments. But having a conda environment file is an interesting idea for consistency in development work for sure.

[2018-12-17 05:50] mmcky commented on #460
@natashawatkins I am not getting this error on my machine.

[2018-12-17 05:51] mmcky opened #466 "Review LGTM Code Quality Suggestions"
We currently have a very high mark on code quality thanks to testing and linting etc.

However we should review the code suggestions provided by LGTM

https://lgtm.com/projects/g/QuantEcon/QuantEcon.py/alerts?mode=list

[2018-12-28 12:07] #452 closed

[2019-01-21 05:55] mmcky commented on #457
@rht do you know any integrations that could apply lint checking on PRs?

[2019-01-21 14:04] rht commented on #457
There is https://pep8speaks.com/ used by several projects. This takes several seconds to catch lint errors rather than having to wait a few minutes of Travis booting up and running `flake8`.

[2019-01-21 16:34] rht commented on #457
Btw, there are lots of whitespace before/after `[`/`]`/`,`/any operator,
- W291 trailing whitespace
- E201 whitespace after '['
- E202 whitespace before ']'
- E203 whitespace before ','
- E241 multiple spaces after ','
- E226 missing whitespace around arithmetic operator
mostly on literal matrices that are intentionally formatted to be that way.
Should these errors be ignored (at the risk of not c

[2019-01-21 22:51] mmcky commented on #457
thanks @rht. I have installed `pep8speaks` to test it out on the next PR that get's submitted.

There are a few violations that we have intentially ignored and whitespace around matrices has been traditionally one of them. `pep8` is not always 100% friendly to scientific computing layouts. I would vote to ignore the ones that add value (such as whitespace used to display matrices more nicely).

[2019-03-04 08:21] natashawatkins commented on #395
Hey @rebekahanne do you maybe have time to finish this off? I just tried plotting over multiple years but it doesn't appear that there's much variation

We should also add an example of using the Gini coefficient and the Shorrucks index. Maybe we can find some other countries data... last time I found it quite hard but maybe you are more familiar with the US SCF?

<img width="590" alt="screen shot

[2019-03-08 06:10] oyamad opened #473 "Add random action profile generator"
See QuantEcon/Games.jl#107

[2019-03-15 13:25] oyamad opened #478 "Error in `sample_without_replacement` with Numba 0.43.0"
[code]

This used to work fine in Numba 0.42.1.

It seems that the conditional statement "`num_trials is None`" is not working properly in Numba 0.43.0.

[2019-03-16 13:23] #478 closed

[2019-03-16 13:35] #473 closed

[2019-03-19 10:46] QBatista opened #480 "Repeated logic in several modules"
There are several existing classes that appear to be reproducing closely related functionalities, thus violating the "Don't Repeat Yourself" principle which is outlined in one of the lectures [in one of the lectures](https://lectures.quantecon.org/py/writing_good_code.html). For instance, all the following modules include a form of a linear state transition equation

- `robustlq.py`
- `lss.py`
- `

[2019-03-19 17:20] jstac commented on #480
I think it makes sense to collect these modules into a subpackage, even though it will break some users' code.  Since subpackage names are best kept short, I propose `linmod`.

Regarding the `linear_gaussian` module mentioned above, which should live inside the subpackage, the function that returns stationary mean and variance doesn't actually care whether the shocks are Gaussian, so I propose we

[2019-03-30 14:14] oyamad commented on #460
I have the same problem with `Python 3.7.2` and `Sphinx 2.0.0`.

[2019-04-09 20:30] DanielWeitzenfeld commented on #121
Is this project still ongoing elsewhere?

[2019-04-11 17:00] natashawatkins opened #481 "Error resulting from DiscreteDP?"
I get the following error in this notebook: https://lectures.quantecon.org/py/discrete_dp.html

![image](https://user-images.githubusercontent.com/21038129/55976225-04cc6300-5ccf-11e9-94c0-8ffc49d9e861.png)

[2019-04-11 17:06] natashawatkins commented on #481
Not sure why because the function appears to be correct: https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.sparse.linalg.spsolve.html

[2019-04-11 18:06] jstac commented on #481
Confirmed.  I get the same error running locally with Anaconda 3.7 and SciPy version 1.1.0.

@oyamad Have you seen this?

CC @QBatista

[2019-04-12 05:57] oyamad commented on #481
It seems that this bug realizes as a real bug thanks to e265b2541de8e827b7f20236b6f97ed087216aad.

Compare

[code]

and

[code]

[2019-04-18 14:28] markbiernat commented on #121
I see no other discussion but I think there is interest. I recommend we start it elsewhere.

[2019-04-18 14:48] davidrpugh commented on #121
A Python port of the FRB/US model was discussed but for various reasons abandoned in favor of a [Julia port](https://juliacomputing.com/case-studies/ny-fed.html) of the model. Here is the [Julia code](https://github.com/FRBNY-DSGE).  I was involved in some of the original discussions but lost interest after the decision was made to port the model to Julia over Python.

[2019-04-20 04:44] #481 closed

[2019-04-20 04:45] oyamad commented on #481
This should work now with `master`.

[2019-04-22 02:16] robertdkirkby commented on #121
I may be mistaken but pretty sure FRB/US is a very different (more a reduced-form econometrics) model than the FRBNY-DSGE model.

[2019-06-01 05:19] oyamad commented on #460
Any update on this issue??

[2019-06-01 12:26] mmcky commented on #460
@oyamad I will be back in the office on Tuesday so will try and replicate this issue using `sphinx=2.0`. I have been using `sphinx=1.7.8` with the latest python with no issues.

[2019-06-17 21:30] llorracc commented on #14
@mmcky, @davidrpugh: Is there any particular reason you want these models in continuous time?  I have a student who has implemented a python version of [this discrete-time version](http://www.econ2.jhu.edu/people/ccarroll/public/LectureNotes/Investment/qModel/) of the Abel-Hayashi q model, and am thinking of asking him to adapt it to the QuantEcon way of doing things ...

[2019-06-17 22:45] jstac commented on #14
That's a very nice analysis @llorracc.  I would love to see it submitted to https://notes.quantecon.org/.

[2019-07-04 07:25] shizejin opened #491 "Tests of `rouwenhorst` fails occasionally"
I found test error of `rouwenhorst` in [build log](https://travis-ci.org/QuantEcon/QuantEcon.py/jobs/554096092#L1047) of #489.  There is no build error when I resubmit the exactly same commit for `LQMarkov`, and I guess this error is occasionally triggered by certain random values.

For example, the same error is triggered 7 times during 1000 runs.

<img width="1371" alt="Screen Shot 2019-07-04 at

[2019-07-04 07:44] jstac commented on #491
Thanks @shizejin.  It looks like `tol` should be increased to, say, `1e-10`.  Does that fix it?

[2019-07-04 09:12] shizejin commented on #491
@jstac Yes It works, the error only occur 5 times for 100000 runs after I increase `tol` to be `1e-10`.

[2019-07-04 17:46] jstac commented on #491
I think that's good enough.

[2019-07-08 00:48] #491 closed

[2019-07-12 04:21] mmcky opened #495 "Issue with numba=0.43.1 with scalar maximisation"
It appears that [scalar_maximisation.py](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/optimize/scalar_maximization.py) fails in `nopython` mode for `numba=0.43.1` which is the **current** version of numba in `anaconda`.

`travis-ci` installs via `pip` which is using `0.44` which doesn't seem to have this issue during the `ci` test.

Should we just wait for `anaconda` to update `

[2019-07-12 04:22] mmcky commented on #495
[code]

[2019-07-12 04:28] mmcky commented on #495
This does also raise the question - perhaps we should swap `travis` over to using `conda` just so the two are aligned?

[2019-07-24 13:07] ssingleton opened #499 "TypingError appearing on Python lectures on stochastic growth"
Here is the head of the error on Stochastic Growth 1:
`TypingError                               Traceback (most recent call last)
<ipython-input-10-597809653131> in <module>
      3
      4 v_init = v_star(grid, α, β, μ)    # Start at the solution
----> 5 v = T(v_init)                     # Apply the Bellman operator once
      6
      7 fig, ax = plt.subplots(figsize=(9, 5))`

Here is the head o

[2019-07-24 18:18] jstac commented on #499
Thanks @ssingleton, much appreciated!

Numba has changed and broken our jitted scalar optimizer.  See #495.  This is flowing on to our lectures.

@mmcky has put together a temporary fix but I guess it's not published yet?

[2019-07-25 00:19] mmcky commented on #499
hey @ssingleton thanks for the report.

The local fix if you would like to run those lectures is to upgrade `numba`

``conda install numba=0.44.1``

@jstac the update to `0.44.1` hasn't been pushed yet due to the introduction of the other failure for the `int_` type checking issue.

[2019-08-28 10:13] amichuda opened #500 "Importing leads to dead kernel in Jupyter and segmentation fault in ipython"
Hi,

I'm running quantecon 0.4.5

Whenever I try to import quantecon, my jupyter kernel dies, or the kernel hangs in vscode, or if I import it into an ipython terminal, it has a segmentation fault.

Please advise

[2019-08-28 10:27] mmcky commented on #500
hi @lordflaron -- does this happen with any other libraries. Area you able to `import pandas as pd` or `import numpy as np`? I can't seem to replicate your issue on `quantecon=0.4.5` in `ipython` or `jupyter`

[2019-09-02 03:19] mmcky opened #501 "[Tests] Warnings that should be resolved"
- [ ] `game_theory/normal_form_game.py:485`

[code]

[2019-09-02 03:31] mmcky opened #502 "[Tests] Errors with `numba=0.45.1`"
In the current `anaconda` I am not seeing any `nosetest` errors but I am getting the following errors reported for `numba=0.45.1` in a `pip` based environment. This is using a newer version of `Numba`

- [ ] ERROR: `test_utilities.TestDraw.test_lln`
- [ ] ERROR: `test_utilities.TestDraw.test_return_types`
- [ ] ERROR: `test_utilities.TestDraw.test_return_values`

[code]

[2019-09-02 03:38] mmcky commented on #500
hi @lordflaron are you still getting this issue?
I haven't been able to replicate it using `anaconda` distribution of python.

Did you change versions of `Numba` by any chance after you installed QuantEcon?

[2019-09-03 00:04] #502 closed

[2019-09-03 00:32] #501 closed

[2019-09-03 00:42] oyamad opened #505 "[Tests] Fix Pandas related FutureWarnings"
[code]

[2019-09-03 00:43] oyamad opened #506 "[Tests] Fix RuntimeWarning in lqcontrol.py"
[code]

[2019-09-03 00:45] oyamad opened #507 "[Tests] Fix FutureWarning in ivp.py"
[code]

[2019-09-03 05:23] lordflaron commented on #500
Hi,

Sorry for the late reply. Let me try again.

I'm not using anaconda, but the the pup installed version.

On Sun, Sep 1, 2019, 8:38 PM mmcky <notifications@github.com> wrote:

[2019-09-04 14:42] duncanhobbs commented on #506
I think this is a divide by zero error. `self.beta` (the discount parameter) is set to 1 by default.

Does it make sense to shift the discount parameter default to something like 0.99?

[2019-09-05 00:42] oyamad commented on #506
Thanks @duncanhobbs

When `T==None` (i.e., the model is one of infinite horizon), then `beta=1` should not be accepted.

It should be checked here: https://github.com/QuantEcon/QuantEcon.py/blob/d9c1e8a1664b422edbeed42cd6065968187de739/quantecon/lqcontrol.py#L137-L146

The pair of default values (`beta=1`, `T=None`) is not a good choice: https://github.com/QuantEcon/QuantEcon.py/blob/d9c1e8a1664b4

[2019-09-05 06:43] jstac commented on #506
I'm a bit confused.  I think `beta=1` is quite common in infinite horizon LQ models, since costs can be driven to zero.

See, e.g.,

https://en.wikipedia.org/wiki/Linear%E2%80%93quadratic_regulator#Infinite-horizon,_discrete-time_LQR

Yet it clearly causes an issue here.  I have to think about this when I have a bit of time.

[2019-09-05 06:46] jstac commented on #506
Perhaps we can't have `beta=1` in infinite horizons when there's a stochastic component to the update rule for the state, since it keeps pushing the state away from zero and hence pushing up the cost.

So first best is that we allow `beta=1` when `C=0` and force it to be `< 1` otherwise.  Agree?

[2019-09-05 07:40] oyamad commented on #506
@jstac Thanks, but what if `C != 0` and `T != None` (i.e., finite horizon)?

And here (in the method `stationary_values` which is for infinite horizon) https://github.com/QuantEcon/QuantEcon.py/blob/d9c1e8a1664b422edbeed42cd6065968187de739/quantecon/lqcontrol.py#L244 it should be something like:

[code]

[2019-09-07 04:37] oyamad opened #508 "ValueError: `LQMarkov` with `beta=1`"
[code]

[code]

[2019-09-24 01:26] duncanhobbs commented on #508
I tested this same example with different values of `beta` below. I still get a convergence error when `beta` is larger than 0.972.

**beta**   error after 1000 iterations:

**1**      51.302186197106494

**0.99**   0.0022754969468223862

**0.98**   1.0506482794880867e-07

**0.975**  7.403286872431636e-10

**0.974**  2.764863893389702e-10

**0.973**  1.0368239600211382e-10

**0.972**  converged in

[2019-09-27 14:52] duncanhobbs opened #510 "Setting up anaconda environment with QuantEcon.py"
In the [instructions](https://quantecon.org/wiki-py-conda-dev-env) to set up quantecon, you may want to specify that the version of python in the environment needs to be at least python 3.5.

When I initially tried to set up a conda environment for quantecon, I ran into some trouble

When I tried to run `conda create -n quantecon-dev anaconda` for some reason it tried to install python 2.7 version

[2019-09-28 23:27] jstac commented on #510
Thanks for the report and suggestion @duncanhobbs .  When you say that you have Python 3.7 on your machine, does that mean you have a Python 3.7 version of Anaconda, such as the [current version](https://www.anaconda.com/distribution/)?

(If so, I'm surprised that it would install Python 2.7 dependencies.  If not, then perhaps we just need to add a note in the instructions stating that the latest

[2019-09-29 00:48] duncanhobbs commented on #510
When I ran `conda list anaconda$` in terminal I see that I am running `version 2018.12` and build py37_0.

So its not the latest version, but I am running a 3.7 build.

When I ran `python --version` it says that I only have python 3.7.2 installed.

I realized I am actually running 64 bit windows machine. I got confused when python uses `win32` but I realize that is just python's way of saying it r

[2019-09-29 02:10] mmcky commented on #510
thanks @duncanhobbs I can't replicate this issue on `mac` or `linux`. When using

[code]

it should select the python version of your base installation of `anaconda`. Perhaps that is because my base is `2019.07`. Unless you have specific version requirements for packages you may want to upgrade `conda` and `anaconda` and try again?

[2019-09-29 05:17] oyamad commented on #505
Fixed by #509.

[2019-09-29 05:17] #505 closed

[2019-09-29 05:18] oyamad commented on #506
Fixed by #509.

[2019-09-29 05:18] #506 closed

[2019-09-29 05:18] oyamad commented on #507
Fixed by #509.

[2019-09-29 05:18] #507 closed

[2019-09-30 02:19] duncanhobbs commented on #510
I ran `conda update conda` and then `conda update anaconda` in the anaconda prompt.

I am now running conda version 4.7.12 and a `custom` version of anaconda on the `py37_1` build.

When I tried to set up a quantecon environment using [the instructions](https://quantecon.org/wiki-py-conda-dev-env), the installer is still trying to install python 2.7 versions of all the dependencies.

I might try u

[2019-09-30 05:10] mmcky commented on #510
thanks @duncanhobbs please let me know how you go.

[2019-10-03 00:40] duncanhobbs commented on #510
I reinstalled the 2019-07 build of anaconda and set up the environment again.

All of the correct versions of packages for work with Python 3.5 and above appear to be installed.

I checked that all the tests pass from the master branch as well.

I always use `conda activate` so I don't think that is the issue.

I think either telling people to use the latest version of anaconda or `create -n quant

[2019-10-07 18:46] SleepingNewton commented on #500
I am also experiencing this issue, I was able to import the module before but I don't know what's changed since then.

I used "pip check quantecon" to check for unfulfilled dependencies, which led me to downgrade pyqt5 (to 5.12.1) and pyqtwebengine (to 5.12.1). pip check now says there are no bad dependencies but the problem still persists. I've also tried downgrading quantecon to several differen

[2019-10-07 23:06] mmcky commented on #500
hi @SleepingNewton can you confirm which version of `numba` you are using?
That dependency needs to be pretty current.

Thanks for reporting the issue.

[2019-10-08 18:12] SleepingNewton commented on #500
Hi @mmcky thanks for getting back to me,

I'm using numba 0.45.1

[2019-10-09 01:11] mmcky commented on #500
thanks @SleepingNewton -- I am not sure what is causing this. The latest `CI` run is passing: https://travis-ci.org/QuantEcon/QuantEcon.py using `pip` and the following packages

https://github.com/QuantEcon/QuantEcon.py/blob/09ab55004806629219359f7ae06d200222f815e5/.travis.yml#L44

[2019-10-15 19:19] SleepingNewton commented on #500
I don't know if this helps; but I just tried to enter help("quantecon") into a python shell and even that made it crash!

[2019-10-22 13:37] duncanhobbs opened #511 "Link to python lectures on GitHub page not working"
On the QuantEcon.py [Github page](https://github.com/QuantEcon/QuantEcon.py), clicking on the link http://quantecon.org/python_index.html at the top of the page and in `Readme.md` routes to [this page](https://quantecon.org/python_index.html) where it says "Page Not Found".

Is this where the link should send people?

It seems like the link should send people [here](https://python.quantecon.org/)

[2019-10-22 22:29] mmcky commented on #511
thanks for reporting this @duncanhobbs -- I have just updated this on QuantEcon.py.

[2019-10-22 22:30] mmcky commented on #511
redirected to https://quantecon.org/quantecon-py/

[2019-10-22 22:30] #511 closed

[2019-11-04 09:54] AngelaChang119 opened #513 "Failed to import LinearStateSpace"
from quantecon import LinearStateSpace
  File "/usr/local/lib/python2.7/site-packages/quantecon/game_theory/normal_form_game.py", line 471
    return NE[0] @ D @ NE[1] > tol
                 ^
SyntaxError: invalid syntax

Environment:
Python 2.7.15 + IPython 5.8.0

[2019-11-04 13:28] cc7768 commented on #513
The issue is that we no longer support anything less than Python 3.5. One reason we chose to do this is that we choose to make use of the `@` operator for matrix multiplication within the library for readability reasons.

Try upgrading Python and let us know whether it still is broken (though it looks like this error comes from the `@` operator not being defined in Python 2.7).

[2019-11-04 23:09] mmcky commented on #513
thanks @cc7768. @AngelaChang119 please let us know how you go with `python>=3.5`. We typically recommend using: https://www.anaconda.com/distribution/

[2019-11-04 23:14] mmcky commented on #500
@SleepingNewton @lordflaron I am unable to replicate this in any clean environments. I wish I could advise further on this for you. Are you able to try a clean `anaconda` environment using `conda create`
https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

[2019-11-04 23:19] mmcky commented on #510
thanks @duncanhobbs. I followed your suggestions and the website is now updated. Thanks for the feedback!

https://github.com/QuantEcon/website/commit/7377e7f5344ca617ae144255f75d2e7c3a547330

[2019-11-04 23:19] #510 closed

[2019-11-04 23:25] mmcky commented on #499
the latest release of anaconda has `numba=0.45.1` so this should no longer be an issue.

[2019-11-04 23:25] mmcky commented on #495
this is no longer an issue in `anaconda` as the latest release has `0.45.1`.

[2019-11-04 23:26] mmcky opened #514 "Update GitHub Actions to check against latest Anaconda Distribution"
As we recommend users to use `anaconda` we should update ~~`travis`~~ `github` to use the latest `anaconda` distribution. This will be slower for `CI` but more consistent with user reports of versions (particularly relating to `numba` errors and issues)

[2019-11-04 23:27] mmcky commented on #495
closing this as travis is documented [here](https://github.com/QuantEcon/QuantEcon.py/issues/514)

[2019-11-04 23:27] #495 closed

[2019-11-04 23:27] mmcky commented on #499
thanks @ssingleton for reporting this. Please let us know if you spot any other errors.

[2019-11-04 23:27] #499 closed

[2019-11-04 23:53] mmcky commented on #410
- [x] update year in `LICENSE.txt`

[2019-11-05 02:18] #410 closed

[2019-11-05 02:31] AngelaChang119 commented on #513
Thank you very much! I install python 3.7.5 and successfully import quantecon.

[2019-11-05 02:32] mmcky commented on #513
good news. Thanks @AngelaChang119

[2019-11-05 02:32] #513 closed

[2019-11-05 20:45] SleepingNewton commented on #500
Hi @mmcky @lordflaron, I created clean environments with python 3.7.5 and 3.7.4. Both failed with "Bus error (core dumped)" on trying to import numba. I even tried the same with python 3.6 and 2.7 but no luck.

Could it be my CPU, kernel or something? Here's some info on my system:
CPU: Intel i5 M430 @ 2.27GHz, 4 cores with integrated graphics
Kernel: 5.3.7-200.fc30.x86_64

If any further informat

[2019-11-05 22:00] mmcky commented on #500
thanks @SleepingNewton -- can you import `numba` directly?

[2019-11-05 22:02] SleepingNewton commented on #500
@mmcky no, I can't import `numba` directly in any of those environments.

[2019-11-05 22:13] mmcky commented on #500
Not really sure what is going on here. Is it possible you have isntalled anaconda as `root` user and then trying to run as a local user?

https://stackoverflow.com/questions/51626598/bus-error-core-dumped-due-to-permission-changes

It appears it could also indicate faulty memory (hardware):

https://serverfault.com/questions/871518/apt-get-broken-bus-error-core-dumped

Given `numba` is working on

[2019-11-06 00:54] oyamad commented on #500
Is this more of an issue with `Numba`? Could this numba/numba#4515 be related?

[2019-11-06 00:56] oyamad opened #516 "Update the lower bound for Numba version"
https://github.com/QuantEcon/QuantEcon.py/blob/ad70e0ec715071621e3ffe4c741b4882b0f6c0f4/setup.py#L105

Ref #495

[2019-11-07 07:07] SleepingNewton commented on #500
I've just found that `numba` is importable in a clean environment with `python 2.7.16`.
I've tried using `numba` and `quantcon` on a more up to date machine running fedora 30 and it works fine.
I'm going to try to uninstall anaconda and reinstall it, in case I did `sudo` it.

[2019-11-09 13:27] SleepingNewton commented on #500
@lordflaron I removed every library and re-installed them with `pip3 install --user` and numba works now!
Thanks @mmcky for all your help.

[2019-12-05 00:38] jstac opened #517 "Updates to readme pages for QuantEcon.py and QuantEcon.jl"
There's at least one spelling error in README.md

But more importantly, to reduce the number of pages we need to maintain, I propose that we take the content of [this page](https://quantecon.org/quantecon-py/) and insert it into the README page of the repo.

It might not look as nice but the price is probably worth paying.

More generally, it's not a good idea to have two pages with the same role,

[2019-12-08 23:07] mmcky opened #519 "[Test] Setup test for `add_rank_size`"
Setup a test for function contributed via PR #518

[2020-01-10 02:21] timilak opened #522 "make test-all not running"
I am trying to install QuantEcon on my Mac. When I run make install it runs fine but make test-all gives me a Module Not Found Error:

Running nosetests on test suite ...
nosetests -v
Failure: ModuleNotFoundError (No module named 'normal_form_game') ... ERROR

======================================================================
ERROR: Failure: ModuleNotFoundError (No module named 'normal_form_ga

[2020-01-10 02:25] timilak commented on #522
Following up on the earlier query, below is the complete trail of the failing make command. Any help is highly appreciated.

--

Running nosetests on test suite ...
nosetests -v
Failure: ModuleNotFoundError (No module named 'normal_form_game') ... ERROR

======================================================================
ERROR: Failure: ModuleNotFoundError (No module named 'normal_form_game')
-

[2020-01-11 05:28] shrabian commented on #519
Hey I'd like to take this issue

[2020-01-15 04:39] timilak commented on #522
Hi all,

I think this error has been resolved. I went to the Makefile and converted all the 'python's to 'python3'. Also, I installed tables on my Mac, which was not previously there.

[2020-01-15 04:39] #522 closed

[2020-01-21 04:54] mmcky commented on #517
thanks @jstac I agree. I'll merge the suggested page into the README and remove the page in the org repository (https://github.com/QuantEcon/website/blob/master/pages/quantecon-py.md)

[2020-01-21 04:55] mmcky commented on #522
sorry for slow response @timilak -- glad you got it figured out. Some os x systems default to `python27` for `python` rather than `python3`. But it looks like you were using `python3` in the error message.

[2020-01-23 00:50] timilak opened #523 "Make test-all"
Hi all,

There are two issues with the "make test-all" command. First, nose tests pass but then test-examples fails since there is no scripts/test-examples.py directory (or file) or test-solutions fails since there is no scripts/test-solutions.py (directory or file) in the home directory (under Quantecon.py/ directory). However the individual tests pass when I go to, say for example, quantecon/gam

[2020-01-24 00:13] mmcky commented on #523
thanks @timilak. We should probably remove those `make` commands as they are not actually used for `travis` continuous integration tests.

We use the following for each PR.

[code]

[2020-01-24 00:14] mmcky commented on #523
- [ ] remove `make test-all`
- [ ] adjust `make test` to run the same command as `travis` for executing local test runs.

[2020-01-24 00:28] #523 closed

[2020-03-19 15:28] Yuya-Furusawa opened #528 "Review notes on learning algorithms"
@oyamad
Please review the notes on learning algorithm([PR](https://github.com/QuantEcon/QuantEcon.py/pull/487)) which will be updated to QE Notes
[Fictitious Play](https://nbviewer.jupyter.org/github/Yuya-Furusawa/game_theory_models/blob/feature/fictplay_ex01.ipynb)
[Local Interaction](https://nbviewer.jupyter.org/github/Yuya-Furusawa/game_theory_models/blob/feature/localint_note.ipynb)
[Best Resp

[2020-04-02 16:59] Yuya-Furusawa commented on #528
I created a [new repository](https://github.com/QuantEcon/game-theory-notebooks) and open a PR.
Move the discussion to this repository.

[2020-04-02 16:59] #528 closed

[2020-04-19 09:46] QBatista opened #530 "[Tests] Build fails with Numba 0.49.0"
See https://travis-ci.org/github/QuantEcon/QuantEcon.py/jobs/676806846

There are several issues:
- `numba.targets.linalg` was moved to `numba.np.linalg` (https://github.com/numba/numba/commit/b0c408c6bbae36aa5692b1daf23e9d78162cd01e)
-  Tests for `nelder_mead` fail. This appears to be a bug with Numba because making changes in the following fashion at several places:
[code]
to

[code]
fixes the p

[2020-04-20 05:07] oyamad commented on #530
@QBatista Thanks for your report.

I made a fix for the first problem #531.
For the second and third:
* Will you push your fixes to the `numba049` branch to add to #531?
* Will you try to cook up a minimal working reproduce that reproduces the bug of Numba 0.49.0 as you discovered and then report it at the Numba issue tracker?

[2020-04-20 10:55] QBatista commented on #530
@oyamad Thanks for this fix! Sure, I'll prepare the two fixes and try to cook up a minimal working example.

[2020-04-21 06:17] QBatista commented on #530
@oyamad I've opened an issue on the Numba issue tracker: https://github.com/numba/numba/issues/5599. For the other two fixes, it seems that I don't have permission to push directly to the `numba049` branch.

[2020-04-21 06:27] oyamad commented on #530
@QBatista Great work!

Will you push your fixes to your (or my) fork of QuantEcon.py? Then I will cherry-pick them into this PR. Thanks.

[2020-04-21 06:31] QBatista commented on #530
@oyamad Sure -- I've pushed them to my fork here: https://github.com/QBatista/QuantEcon.py/commits/numba049.

[2020-04-21 07:13] oyamad commented on #530
Thanks, they have been incorporated in the PR.

[2020-04-21 11:04] #530 closed

[2020-04-22 15:28] stuartarchibald commented on #530
Thanks for reporting these problems on the Numba issue tracker, much appreciated.

[2020-04-23 23:33] mmcky opened #533 "Setup automatic PyPI publishing?"
Using `Github Actions` we could setup automatic pypi releases so that the PyPI release stays up to date.

@oyamad would you rather many small releases or bulk releases as we do now.

I will be releasing a new version today.

[2020-04-23 23:59] mmcky opened #535 "Migrate testing to Github Actions"
Github Actions supports testing for `linux`, `os x` and `windows`. Given many of our users are on the `windows` platform -- it would be good to add testing for `windows` on each PR. Migrating to `github actions` will allow this.

[2020-04-24 07:53] albop commented on #535
It's a good idea and I'm curious about the right way to proceed. I suppose
it would also be possible to automatically make releases on PyPi and
Conda-forge ?

On Fri, Apr 24, 2020 at 1:59 AM mmcky <notifications@github.com> wrote:

[2020-05-05 21:06] shahkirill opened #536 "Quantecon and numba error"
python 3.7.7 (default, Apr 15 2020, 05:09:04) [MSC v.1916 64 bit (AMD64)]
quantecon-0.4.7
numba-0.49.0

  File "<ipython-input-29-b443e6cedc59>", line 3, in <module>
    import quantecon as qe

  File "C:\Users\ks0063\AppData\Local\Continuum\anaconda3\lib\site-packages\quantecon\__init__.py", line 15, in <module>
    from . import game_theory

  File "C:\Users\ks0063\AppData\Local\Continuum\anacon

[2020-05-05 21:08] shahkirill commented on #536
conda update conda
conda update anaconda

[2020-05-06 00:22] mmcky commented on #536
Looks like this may have been moved to the top level namespace

[code]

[2020-05-06 00:22] mmcky commented on #536
thanks for reporting @shahkirill

[2020-05-06 01:19] oyamad commented on #536
The `types` submodule is still there at the top level namespace: https://github.com/numba/numba/blob/ff24fb1d32e83602742b548ad1c3aa240f8b34b4/numba/__init__.py#L28

On my environment the following works with `numba=0.49`:

[code]

[code]

[2020-05-06 01:23] mmcky commented on #536
thanks @oyamad I will have to do some more digging then. You're not getting any deprecation warnings?

[2020-05-06 01:24] oyamad commented on #536
No. Are you getting any?

[2020-05-06 01:43] mmcky commented on #536
reinstalling environments to check.

[2020-05-06 02:24] mmcky commented on #536
Thanks @oyamad I am actually getting the same:

[code]

All current `nostests` are also passing using the latest `anaconda` and `numba=0.49`

It looks like `types` will be moving in the future so this might still be an issue in `numba>0.49`

@shahkirill can you run the above from `numba`?

[2020-05-06 06:45] mmcky commented on #535
@Harveyt47 as part of the writeup for `contribute-python` page perhaps you can also try and setup `Github Actions` on QuantEcon.py via a PR. You can reference the [travis.yml](https://github.com/QuantEcon/QuantEcon.py/blob/master/.travis.yml) file for our current configuration and then setup `.github/workflows`.

Please use [Github Actions docs](https://help.github.com/en/actions) and look at `.gi

[2020-05-06 11:03] shahkirill commented on #536
import numba
Traceback (most recent call last):

File "<ipython-input-8-7221fd246eb0>", line 2, in <module>
import numba

File "C:\Users\ks0063\AppData\Local\Continuum\anaconda3\lib\site-packages\numba__init__.py", line 15, in <module>
from numba.core import config

File "C:\Users\ks0063\AppData\Local\Continuum\anaconda3\lib\site-packages\numba\core\config.py", line 16, in <module>
import llvmlite

[2020-05-07 00:02] oyamad commented on #536
Might be numba/numba#5600.

[2020-05-07 00:11] shahkirill commented on #536
Numba has been updated and the issue has disappeared

[2020-05-07 00:11] #536 closed

[2020-05-08 01:14] Harveyt47 opened #538 "[test_quadsum.py ] undefined name"
I have been running tests and got the following
[code]
In [test_quadsum.py](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/tests/test_quadsum.py) `test_var_simplesum()` and `test_var_identitysum()` are defined but `test_simplesum` and `test_identitysum` are called.
@mmcky I got this while playing around with GitHub actions on my fork.

[2020-05-08 13:40] oyamad commented on #538
Run

[code]

instead of

[code]

But those calls should be corrected. Pull request welcome!

[2020-05-08 13:51] oyamad commented on #535
About testing (but not about Github Actions): `nose` seems left unmaintained for some time. For example, `scipy` has switched to `pytest`. Would there be enough benefits for us to switch to `pytest` net of (possibly not small) costs?

[2020-05-09 04:58] mmcky commented on #535
hey @oyamad I think this would be a great exercise for an RA. I might ask @Harveyt47 to look into this as a project while setting up `Github Actions`. I think `pytest` is the new standard and probably worth switching over to.

[2020-05-09 04:59] mmcky opened #539 "Convert test suite from nosetests to pytest"
It would be good to migrate our test suite from `nosetests` to `pytest`

https://docs.pytest.org/en/latest/

@Harveyt47 do you have time to look into this?

[2020-05-09 05:00] mmcky commented on #538
Speaking with @Harveyt47 I think this is now resolved. Thanks @oyamad

[2020-05-09 05:00] #538 closed

[2020-05-10 06:47] Harveyt47 commented on #535
No worries @mmcky I'll look into `pytest` using `GitHub Actions`. Also how many versions of `python` do we want the tests to run on? `GitHub Actions` allows for many

[2020-05-10 06:48] Harveyt47 commented on #539
Yep will do @mmcky .

[2020-05-11 02:01] shlff opened #543 "a_small_typo_in_quantecon.inequality.rank_size_plot"
Hi @jstac and @mmcky , I notice a small possible typo in the source file of a function ``quantecon.inequality.rank_size_plot`` in the library ``QuantEcon``, please see [here](https://quanteconpy.readthedocs.io/en/latest/_modules/quantecon/inequality.html#rank_size_plot):
- ``c%`` in the sentence ``extract top c%`` should be ``(c x 100)%``.

[2020-05-11 04:31] Harveyt47 commented on #539
`pytest` has support for `nosetests` see [here](https://docs.pytest.org/en/latest/nose.html). For example this [test](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/markov/tests/test_approximation.py#L12) will work as is.

However when there is not support we will have to change functions like `setUp` to `setup_method` see [here](https://docs.pytest.org/en/latest/xunit_setup.html?

[2020-05-11 05:00] Harveyt47 commented on #539
yield tests were removed in pytest 4.0, see [here](https://docs.pytest.org/en/latest/deprecations.html#yield-tests) for needed switch

[2020-05-11 19:20] jstac commented on #543
Thanks @shlff, that's true.  Please put in a PR.

[2020-05-12 01:09] shlff commented on #543
Morning @jstac . I find my commit is denied when I push it to this repo. I guess it is because I do not have permission.

If convenient, could you please grant me the access to this repo? :)

[2020-05-12 01:22] mmcky commented on #543
@shlff done.

[2020-05-12 01:23] shlff commented on #543
Thanks @mmcky and @jstac .

[2020-05-15 07:01] #543 closed

[2020-05-19 15:53] weikang9009 opened #546 "publish newer version (quantecon 0.4.7) on conda-forge?"
Hello, our python package on space-time analysis [giddy](https://github.com/pysal/giddy) has your amazing package as a dependency. I noticed that [a newer version 0.4.7 was released last month on pypi](https://pypi.org/project/quantecon/#history), but [the newest version on condo-forge is still 0.4.5](https://anaconda.org/conda-forge/quantecon). I wonder if you have plans to release the newest ver

[2020-05-20 03:24] mmcky commented on #546
hi @weikang9009 thanks for letting us know you use the `conda-forge` channel. I have had a lot of trouble with `conda-forge` automated update PRs which took a long time to figure out so I had stopped releasing via `conda-forge`. But given the interest in supporting this channel -- I will try and setup the conda-forge feedstock again to get that back up and running.

Just as a side note for the sho

[2020-05-20 03:49] weikang9009 commented on #546
Thanks for the quick response and great advice!

Could you please let me know once the newer version is released on conda-forge?

[2020-05-21 22:47] mmcky commented on #546
hi @weikang9009 thanks to wonderful `conda-forge` community support `quantecon=0.4.7` is now available via `conda-forge`

https://anaconda.org/conda-forge/quantecon

[2020-05-21 22:47] #546 closed

[2020-05-21 23:04] weikang9009 commented on #546
Awesome! Thanks a lot!

[2020-05-25 04:20] mmcky commented on #535
@Harveyt47 how are you going with this? Let me know if you have any questions etc. Or if you want to setup a PR for comments / discussion etc.

[2020-05-25 05:42] Harveyt47 commented on #535
Hi @mmcky I should I make a PR for actions with the change to `pytest`. Or should I first add the action with nose tests.

[2020-06-01 05:24] akshayshanker opened #549 "Numba 0.49.0: No module named 'numba.targets.linalg'"
Hi.

I updated to numba 0.49.0.

Quantecon now does not import.  I am in Python 3.7.4

Full error:
[code]

[2020-06-01 05:38] oyamad commented on #549
What is the version of `quantecon` you are using? The latest version is 0.4.7. You could check it by

[code]

[2020-06-02 16:53] GabrielPestana81 commented on #549
Have the same problem here. The package is correctly updated.

[2020-06-02 21:37] mmcky commented on #549
@akshayshanker emailed me this issue on Monday and we resolved it through an upgrade to `quantecon=0.4.7` using

[code]

@GabrielPestana81 can you confirm what version you are running using

[code]

It should be `Version: 0.4.7`

[2020-06-02 21:40] mmcky commented on #549
`travis` is testing against `numba-0.49.1` so @GabrielPestana81 please let me know if an upgrade doesn't fix your issue.

[2020-06-02 23:47] mmcky commented on #549
@GabrielPestana81 are you using `conda`?

When I do a conda search of the `quantecon` package I actually find that `0.4.5` is available through `pkgs/main` so you may need to specify the channel `-c conda-forge` to fetch the latest version which is `0.4.7`

[code]

or

[code]

[2020-06-02 23:56] akshayshanker commented on #549
Hi. Sorry for delay.

I updated as @oyamad  suggested. In particular, I used:

[code]

The package imports and everything seems to be fine so far. However, i do get error message:
[code]
Thanks for the package btw,  qe functions are staples.

[2020-06-03 00:00] oyamad commented on #549
@akshayshanker I think it's from `numba`. Try

[code]

on a fresh session to see if you still have the same warning.

What OS are you using?

[2020-06-03 00:09] akshayshanker commented on #549
Hi @oyamad.

import numba works fine without error. I cannot tell what the material relevance of the latest error message is.

My OS is
[code]
version
[code]

Note I am on an HPC cluster. (https://nci.org.au/our-systems/hpc-systems)

[2020-06-03 00:17] GabrielPestana81 commented on #549
Thanks for the reply.
Thanks @mmcky, the code for the update worked. It is a surprise though, since my version was 0.4.7. I guess you may have done some adjust in the main code. All working fine now !

  `pip install quantecon --upgrade`

[2020-06-03 00:32] oyamad commented on #549
@akshayshanker I don't know what "TBB" is, but this part https://github.com/numba/numba/blob/23a5c659e1122c607deb291ff5f7dd796f2a2915/numba/np/ufunc/parallel.py#L329-L360 in `numba` is checking whether "the TBB version is new enough". You could call that function by

[code]

(One of my computers is running on an old version of Mac OS X, where I see that same warning, whereas I haven't had any prob

[2020-06-12 10:15] bktaha commented on #508
This should be addressed by PR #550
I did not link the PR here, so this has remained open.

[2020-06-12 17:26] bktaha commented on #519
As the author @jstac mentions in the PR, the method is written as it is so as not to add new external dependencies ( `matplotlib` ). It takes distribution data and an `matplotlib.Axes` object as parameter, generates `rank_data` and `size_data` and in turn passes those to the `Axes` object. So there is no `return` variable, only the `Axes` object with a changed state. Example usage from `docstring`

[2020-06-12 19:43] jstac commented on #519
@bktaha , I think this is an excellent proposal.  It's a better solution and your explanation is very clear.

The only issue is that it will break some code in the lectures.  You can find one example in the solution to exercise 2 here: https://python.quantecon.org/wealth_dynamics.html#Exercise-2

Hence it would be necessary to adjust the lectures and the code library at the same time.

The full li

[2020-06-12 22:22] jstac commented on #508
Many thanks for your contributions @bktaha .

@shizejin , could you please confirm and close when ready?

[2020-06-13 01:14] bktaha commented on #519
Based on [this discussion](https://github.com/QuantEcon/lecture-python-website/issues/38), there are 3 such lectures.

- [Heavy-Tailed Distributions](https://python-intro.quantecon.org/heavy_tails.html#Exercise-4)
- [Wealth Distribution Dynamics](https://python-intro.quantecon.org/wealth_dynamics.html#Exercise-2)
- [Kesten Processes and Firm Dynamics](https://python-intro.quantecon.org/kesten_proc

[2020-06-13 01:36] jstac commented on #519
Thanks @bktaha, that's greatly appreciated.

I'll look forward to reviewing your PRs.

Let's go for `rank_size`.

[2020-06-13 03:17] oyamad commented on #508
@shizejin Is the model well defined with `beta >= 1`? Shouldn't the input with `beta >= 1` be rejected?

[2020-06-13 12:45] shizejin commented on #508
Hi @bktaha we are concerned about the nonexistence of stable solution when `beta >= 1` and this shall not be solved by simply adding more iterations. You may check that the example @oyamad raised in this thread fails to converge after 10000 iterations (thanks to your work, we can now freely choose the number of iterations). But again, PR #550 shall have nothing to do with this issue.

@jstac @oyam

[2020-06-13 15:01] bktaha commented on #508
Oh, I assumed that non-convergence for `beta >= 1` was expected behavior. In this snippet from the test file for `lqcontrol`;

https://github.com/QuantEcon/QuantEcon.py/blob/ca8fb06b52b3cb9b5a53702fbd1090eb7a6dcbd5/quantecon/tests/test_lqcontrol.py#L225-L229

the `stationary_values` method is expected to raise a ValueError for `lq_control_mat2` which is initialized with `beta = 1.05`.

[2020-06-29 02:47] #519 closed

[2020-06-29 03:31] mmcky opened #553 "Issue with test for rank_size"
@bktaha would you have any time to look into this issue with the rank_size test?

`Travis` was broken due to the migration to `.com` from the `.org` site and QuantEcon.py was using legacy connections -- which has now been fixed.

I'll hold off on issuing a new release until this is fixed.

[code]

[2020-06-29 03:39] mmcky commented on #553
https://travis-ci.com/github/QuantEcon/QuantEcon.py/jobs/355150820

[2020-07-01 07:15] #553 closed

[2020-07-01 12:10] oyamad commented on #549
Maybe related: https://numba.discourse.group/t/suppress-tbb-warning/

[2020-10-16 07:20] zhoujianberkeley commented on #261
Just to check, is the parallelization already finished or still open to contribution?

[2020-10-16 07:20] zhoujianberkeley commented on #261
Just to check, is the parallelization already finished or still open to contribution?

[2020-10-16 07:20] zhoujianberkeley commented on #261
Just to check, is the parallelization already finished or still open to contribution?

[2020-10-16 22:42] jstac commented on #261
As far as I know this is still an open issue and we'd love to see it pushed forward.  Thanks for your interest @zhoujianberkeley .

@oyamad / @mmcky, do you know if any work has been done on this?

[2020-10-17 01:19] oyamad commented on #261
No part has been parallelized. Thanks for your interest @zhoujianberkeley!

[2020-12-07 01:01] mmcky opened #559 "Compatibility with Python=3.9"
It looks like we may have some compatibility issues with `python=3.9`

https://github.com/conda-forge/quantecon-feedstock/pull/23#issuecomment-739217657

[2020-12-07 08:23] oyamad commented on #559
Maybe due to numba/numba#6345?

[2021-01-07 12:33] rht opened #565 "Use Mypy annotation for arguments and return type documentation"
With Mypy, the types can be checked explicitly. While I think in Sphinx, the types are just strings? (E.g. https://quanteconpy.readthedocs.io/en/latest/game_theory/repeated_game.html#quantecon.game_theory.repeated_game.RepeatedGame)

Sphinx can be configured to accept Mypy annotation: https://github.com/agronholm/sphinx-autodoc-typehints.

With Mypy, the type annotation would be:
[code]

More exam

[2021-01-07 12:39] rht commented on #565
This is the classic blog post on Mypy (as the url says, 2016): https://blog.zulip.com/2016/10/13/static-types-in-python-oh-mypy/

[2021-01-07 12:51] rht commented on #535
This issue can be closed?

[2021-01-07 21:59] mmcky commented on #535
thanks @rht

[2021-01-07 21:59] #535 closed

[2021-01-09 02:10] rht opened #567 "CI: Test Flake on test_random.test_covariance_game"
I first observed this on CI on Python 3.7 on Windows. Turns out it has happened on Ubuntu as well: https://github.com/QuantEcon/QuantEcon.py/pull/566#issuecomment-757078096.
The log:
[code]

[2021-01-16 13:12] shizejin opened #568 "Doubling algorithm not working for solving discrete Lyapunov equation"
For a specific example borrowed from RMT5 (example 3 in section 2.4), the doubling algorithm is unable to find the correct solution to the discrete Lyapunov equation while Bartels-Stewart algorithm (the `scipy` routine) is able to find one.

The demonstration of the failure is [here](https://nbviewer.jupyter.org/github/shizejin/Notebooks/blob/master/failure_of_doubling_algorithm.ipynb).

[2021-01-17 05:42] oyamad commented on #568
I have no knowledge about the theory, but the docstring says that "We assume in order for convergence that the eigenvalues of A have moduli bounded by unity". Your `A` matrix has some eigenvalues larger than one in magnitude:

[code]

[code]

It might be an implicit premise that it is the user's responsibility to switch between the methods depending on the eigenvalues of `A`.

Maybe rewrite the do

[2021-01-17 06:04] shizejin commented on #568
Thanks @oyamad for your clear explanation. I guess the point is whether we intend to make this `solve_discrete_lyapunov` function only work for finding a "unique" solution, because having moduli bounded by one is not a necessary condition for the existence of the solution.

If we aim to make this general to use, then it might be burdensome to let users to check the eigenvalues each time before the

[2021-01-17 23:42] mmcky commented on #567
@rht is this a current issue? On a recent PR all tests seem to be passing on all platforms?

[2021-01-18 00:05] rht commented on #567
Yes, this still happens occasionally.

[2021-01-18 00:46] rht commented on #568
Alternatively, if the method selected is `doubling`, there could be an assertion on the eigenvalues condition before the solving algorithm starts.

[2021-01-19 01:19] oyamad commented on #567
@rht I can't reproduce the error on my mac machines. Could you possibly run the fix in #570?

[2021-01-19 01:30] mmcky commented on #567
thanks @oyamad -- I couldn't replicate either but I do see intermittent failures from time to time via CI.
I think @rht is suggesting it fails stochastically?

[2021-01-19 01:33] rht commented on #567
Sorry for being unclear. Yes I meant the test fails stochastically, so the CI needs to be run several times in order to spot the error.

[2021-01-19 01:40] rht commented on #567
I will try to reproduce what the error size is on a Docker Ubuntu instance with 3.7.

[2021-01-19 02:02] rht commented on #567
Oh, actually, the absolute error is displayed in https://github.com/QuantEcon/QuantEcon.py/runs/1671233922?check_suite_focus=true#step:6:36 because `assert_allclose` has `verbose=True` by default.
[code]

The `reltol` probably needs to be increased as well.

[2021-01-19 02:18] oyamad commented on #567
[Documentation of `assert_allclose`](https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_allclose.html) says

The reported case should be covered by `atol=1e-7` (for any (nonnegative) value of `rtol`).

[2021-01-19 03:29] rht commented on #567
Ah, right, I didn't properly RTFM.

[2021-01-19 07:38] rht opened #571 "Rename 'master' branch to 'main'"
See https://github.com/github/renaming. The web renaming tool was made ready just 3 days ago as of this commit: https://github.com/github/renaming/commit/040636ea50e945875c70cc964d586f645e9bd810.

[2021-01-19 12:48] oyamad commented on #567
Basically, the test in consideration does the following:

[code]

On my mac machine, `abs_diff_max` is very small:

[code]

[code]

Note that `cov` is singular in this case (it is only positive semi-definite, not positive definite). It may be possible that `np.random.multivariate_normal` is not well behaved for such an input on some platforms.

[2021-01-20 05:15] oyamad commented on #567
On my other mac machine (with a different Python environment), I get numbers around `1e-8` for `abs_diff_max`.

[2021-01-20 06:17] rht commented on #567
I ran https://github.com/QuantEcon/QuantEcon.py/issues/567#issuecomment-762819805 on an Ubuntu 16.04 with Python 3.5.2, got the exact same `abs_diff_max`, 4.440892098500626e-16, regardless of the random seed.

[2021-01-20 06:31] oyamad commented on #567
@rht Thanks.

Anyway, the test is checking how `np.random.multivariate_normal` behaves against the above singular `cov`. Let us merge #570 and close this issue given that the test passes by the change of `atol=1e-7`.

[2021-02-02 01:39] rht commented on #567
The error also happens in 3.8: https://github.com/QuantEcon/QuantEcon.py/runs/1811166820?check_suite_focus=true#step:6:33.

[2021-02-02 01:43] #567 closed

[2021-02-02 01:45] oyamad commented on #567
#570 having been merged it should work OK now.

[2021-02-15 07:24] oyamad commented on #559
Just to report, all the tests pass with Python `3.9.1` and Numba `0.53.0rc1`.

See https://numba.discourse.group/t/numba-0-53-0-and-llvmlite-0-36-0-release-candidates to install Numba `0.53.0rc1`.

[2021-02-15 23:42] mmcky commented on #559
thanks @oyamad this is really helpful.

[2021-03-01 01:34] oyamad commented on #559
It turned out I was testing against Python 3.8...
With PR #573 tests pass with `python=3.9.1`, `numba=0.53.0rc2`, and `llvmlite=0.36.0rc2`.

[2021-03-26 00:47] #559 closed

[2021-03-26 00:54] mmcky opened #575 "Move to Tag based package publishing to PyPI"
We should add an action to make more regular releases on pypi using tag based publishing to PyPI

[2021-03-26 00:55] mmcky commented on #571
Thanks for this link @rht

I have reserved some time next week to do some maintenance on this package. I will see if we can migrate this then.

[2021-03-26 00:56] mmcky commented on #565
thanks @rht I like this idea.

PR's are welcome.

[2021-03-26 01:21] rht commented on #565
Also wanted to point out that with type annotations, it'd be more equivalent to the Julia version of this repo.

[2021-03-26 02:31] jstac commented on #565
I fully agree, for all the reasons mentioned by @rht .  The only thing is that it would have to be quite consistent across the lectures, and that's a large task requiring some coordination.

Unfortunately I don't have the bandwidth to implement this myself but further discussion leading to PRs is very welcome.

[2021-04-16 05:54] rht commented on #565
I tried to annotate normal_form_game.py in #576.
An issue worth discussing is on how to make ndarray annotation to be type-specific. Currently, Numpy can't do this yet (see https://github.com/numpy/numpy/issues/7370).

Current 3rd party alternative solutions: https://github.com/numpy/numpy/issues/7370#issuecomment-819070631.
There is also https://github.com/ramonhagenaars/nptyping which is mention

[2021-05-23 03:52] timgates42 opened #583 "Proposing a PR to fix a few small typos"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate and Expected Behaviour

- Examine quantecon/markov/tests/test_ddp.py and observe `approxmation`, however expect to see `approximation`.
- Examine quantecon/game_theory/tests/test_vertex_enumeration.py and observe `reponse`, however expect to see `response`.
- Examine quantecon/estspec.py and observe `frequences`, however expect to see `frequencies

[2021-05-23 04:59] oyamad commented on #583
@timgates42 PR would be appreciated!

[2021-05-23 19:56] timgates42 commented on #583
Thanks @oyamad have added one

[2021-05-29 03:51] #583 closed

[2021-07-08 22:21] milind opened #587 "M1 Mac Install"
I am currently running a late 2020 MacBook Air with an M1 chip and I was unable to install using conda / pip through any of the suggested channels. Curious if anyone else had any luck installing the package on an M1 Mac and what your process was to get it to work. (For the time being, I'll probably just use it in a Google Colab Notebook but would love to transition over to running it on my own mac

[2021-07-09 03:27] jstac commented on #587
Thanks for the report @milind .

Could you please copy and paste your error message?

@mmcky should be able to assist after he sees the messages.

[2021-07-09 03:29] mmcky commented on #587
thanks @milind for reporting this issue.

Any error output would be greatly apprecited to help in diagnosing the issue.

QuantEcon.py is a source distribution so should work if you have python setup and installed.
Do you have python / anaconda installed and up and running?

[2021-07-09 03:55] milind commented on #587
Hi @jstac and @mmcky - Thanks so much for the fast reply! I tried running `conda install -c conda-forge quantecon`. I'm currently running the native terminal (without Rosetta on) and an arm build of miniforge. Listed below is the error output that I got from that command. Thanks!

[code]

[2021-07-09 04:02] mmcky commented on #587
Ah that is super helpful. Thanks @milind. I suspect we may need to add the `osx-arm64` builds to our `conda forge` recipe.

Do you get any error if you use `pip`?

[code]

[2021-07-09 04:11] mmcky commented on #587
@milind will try to fix this in `conda-forge` but if I run into trouble I may need to ping the `conda-forge` team on this

https://github.com/conda-forge/quantecon-feedstock/pull/26

[2021-07-09 04:42] mmcky commented on #587
@milind it hasn't been just a simple config fix unfortunately.
I will need to spend a bit of time to figure out how to get `osx-arm64` supported via `conda-forge` build machinery.

Thanks again for reporting this. I may need to look at this next week (shuffling a few priorities).

[2021-07-09 04:42] mmcky commented on #587
I would be interested in the `pip` output if you get the chance to test it. Thanks.

[2021-07-09 12:59] milind commented on #587
I appreciate you looking into it! - with regard to the pip install, I've tried it for several packages before on this laptop but each time the install comes across a dependency that it is unable to resolve, going down the version list until it escapes out of the sequence. There is a massive list of error messages but this is the last one for llvmlite. I believe that scipy, numba, and llvmlite are

[2021-07-15 00:21] mmcky commented on #587
@milind thanks for the info. Looks like `llvm_lite` may not have an `ox-arm64` build? I will try to look into that -- as that will be crucial infrastructure for `QuantEcon.py` to run.

[2021-07-15 00:23] mmcky commented on #587
@milind this looks like it is currently an open issue

https://github.com/numba/llvmlite/issues/665

It is encouraging that there is a PR waiting for review to try and fix this issue. I think this will need to be resolved before we can role out `QuantEcon.py` on `arm64` architecture.

[2021-07-15 13:58] milind commented on #587
@mmcky Got it! I appreciate you looking into this and look forward to getting to test out the arm builds whenever the dependencies get around to sorting things out. Thanks!

[2021-07-15 16:55] jstac commented on #587
Thanks for letting us know @milind .  All feedback is appreciated.  Hopefully that PR gets merged soon.

[2021-10-01 20:22] nshea3 commented on #466
Hi @mmcky! Would be interested in taking on this work.

I noticed the issue is a little old, is there still an interest in getting this done?

[2021-10-01 22:24] mmcky commented on #466
hi @nshea3 that would be great - thanks. I'm keen to see what suggestions it has. But `on other projects` I have grown to like some of the `pre-commit` style looks like `black` etc. for code-reformatting.

[2021-10-29 21:19] jstac commented on #121
I'm not aware on anyone who is working on this @Hamza-AB-Quant

[2021-11-11 00:20] mmcky commented on #587
thanks @milind I have now asked `conda-forge` team to add us to the `arm64` builds and we have now merged

https://github.com/conda-forge/quantecon-feedstock/pull/28

I don't have an M1 mac so it would be great if you could let me know if this get's added and is working for you.

Thanks for your patience while we figured this out.

[2021-11-11 00:31] mmcky commented on #587
@milind the `conda-forge` page is now showing the `arm64` badge 🎉

https://anaconda.org/conda-forge/quantecon

[2021-11-11 00:56] mmcky opened #589 "Migrate `np.dot` to use python @"
It would be nice to migrate `np.dot` to use the inbuilt `python` @ operator for matrix multiplication.

Some thought is required as `np.dot` doesn't behave in the exact same way as `@`

https://stackoverflow.com/questions/34142485/difference-between-numpy-dot-and-python-3-5-matrix-multiplication

[2021-11-11 01:41] milind commented on #587
@mmcky Just tested it out and it works like a charm! 🎉 Thanks so much for the work that you've put into this project and looking forward to getting into the weeds of it soon!

[2021-11-11 01:41] #587 closed

[2021-11-11 01:44] mmcky commented on #587
great - thanks for the feedback @milind.

I will likely get access to an  `m1` in January but in the meantime let me know if you run into any issues. Cheers.

[2021-11-11 03:03] #463 closed

[2021-11-15 21:38] btanner opened #591 "MarkovChain.simulate can sample invalid states"
Apologies, I'm quite new to this project, so there may well be some overarching design decisions on input validation or error reporting that make this irrelevant.

### TL;DR
 It is possible to create a MarkovChain with a P matrix that passes validation, but does not exactly have all transition probabilities rows sum to 1, which can cause the simulate method to silently transition to an invalid abs

[2021-11-15 22:23] oyamad commented on #591
@btanner Thank you for opening this issue.

To better understand the problem, can you share your code creating your transition matrices?

[2021-11-16 00:31] btanner commented on #591
@oyamad  - I'm a little unsure why this repro is non-deterministic, I think I have controlled for all the randomness. But anyway, here is a "search for the case" style repro and some sample output.

Basically, it creates a simple Markov Chain where State 0 goes to a few other states, and all other states deterministically return to State 0. There is a small bit of missing mass in the CDF, and once

[2021-11-16 02:57] oyamad commented on #591
@btanner PR #592 fixes your *specific* instance.

I am not much knowledgable about complications in floats, but it seems to be not  a good idea to change the `dtype` in creating the `cdfs` array (the previous code creates it with the default `dtype` which is in most cases `np.float64` irrespective of the `dtype` of the original `P` which is `np.float32` in your case).

Please let us know if you fi

[2021-11-16 09:17] mmcky commented on #591
@btanner we have issued a new release `0.5.2` which includes the bug fix above.

[2021-11-16 17:26] btanner commented on #591
Thanks for your attention here @oyamad and @mmcky. Definitely did not expect such a quick response and turnaround!

I hacked this change into my local example and it does resolve the issue for that particular seed, but I can can find other examples that fail.

This is not something that you have to address in your project, but I do think some extra context is helpful.

In machine learning, folks a

[2021-11-17 05:37] nshea3 commented on #589
Hi! I've started to work on this change (https://github.com/nshea3/QuantEcon.py/tree/migrate-matmul-symbol)

Changes to lqnash and lqcontrol are both in progress. np.dot is used in many places in the repo so I think it will be a few weeks before I send along a PR.

Thanks for the stackoverflow post, useful info there!

Nick

[2021-11-18 05:40] mmcky commented on #589
thanks @nshea3 -- appreciate it.

[2021-12-15 14:31] oyamad opened #594 "DOC: Documentation is not showing the contents"
See for example
https://quanteconpy.readthedocs.io/en/stable/markov/ddp.html (stable)
https://quanteconpy.readthedocs.io/en/latest/markov/ddp.html (latest)

Raw log:
https://readthedocs.org/api/v2/build/15287292.txt

[2021-12-15 15:46] #594 closed

[2022-01-11 15:21] oyamad commented on #539
@mmcky What is the status of this issue? It seems `nose` will no longer work on Python 3.10 (nose-devs/nose#1099).

[2022-01-11 22:37] mmcky commented on #539
thanks @oyamad sounds like this can no longer sit on the back burner.

I'll need to reserve some time to make the migration.

[2022-01-11 22:38] mmcky commented on #539
@oyamad we have a new RA coming on board this month (hopefully) -- I might ask him to help me with this task (cc: @jstac)

[2022-01-12 01:28] oyamad commented on #591
Let me close this. Please reopen if any problem has been found.

[2022-01-12 01:28] #591 closed

[2022-01-12 01:30] oyamad commented on #466
@mmcky This has been done and can be closed?

[2022-01-12 01:32] mmcky commented on #466
thansk @nshea3 and @oyamad

[2022-01-12 01:32] #466 closed

[2022-01-12 01:34] oyamad commented on #514
@mmcky Travis is no longer used?

[2022-01-12 01:35] oyamad commented on #460
No longer relevant?

[2022-01-12 01:37] mmcky commented on #514
Thanks @oyamad indeed we no longer use `travis` 👍

Our current testing however also just uses `pip` packages so we don't actually tests against the latest anaconda

- [ ] setup another test against latest `anaconda` packages

[2022-01-12 01:39] mmcky commented on #460
Confirmed -- I can run the docs build locally. Thanks @oyamad

[2022-01-12 01:39] #460 closed

[2022-01-12 01:58] oyamad opened #598 "Update `LONG_DESCRIPTION` in `setup.py`"
Update [this entry](https://github.com/QuantEcon/QuantEcon.py/blob/f78d3630f0c15cc769d68e7ac8606e282eef51a6/setup.py#L32-L73) which contains a couple of dead links.

[2022-01-12 01:59] oyamad commented on #549
Closing.

[2022-01-12 01:59] #549 closed

[2022-02-12 06:25] Smit-create commented on #539
Should I work on this?

[2022-02-12 12:01] Smit-create opened #603 "`nosetests` does not work on windows CI job"
We have the Github Actions job that runs on all three platforms for testing `quantecon`. `nosetests` seems to be working fine on Linux and mac, but not on windows. See https://github.com/QuantEcon/QuantEcon.py/runs/5148553158?check_suite_focus=true. It logs saying:
`Ran 0 tests in 5.394s`

I tried to figure out the problem but seems to be a platform-dependent issue from `nosetests`? Probably the b

[2022-02-13 01:37] oyamad commented on #539
@Smit-create Thanks, that would be great.

I converted one file in the `game_theory` module in #597. The resulting tests work with both `nose` and `pytest`.

[2022-02-14 00:09] #514 closed

[2022-02-18 00:49] mmcky commented on #603
Agreed @Smit-create -- I think moving towards pytest is the right answer here :-)

[2022-02-22 03:54] #97 closed

[2022-02-23 19:44] Smit-create commented on #350
@jstac @mmcky Please let me know your reviews regarding #601

[2022-02-24 23:10] mmcky opened #607 "CI failing on Master Branch"
It looks like `Conda` tests are failing on the `master` branch.

This will need to be fixed before any other PR's are merged

cc @Smit-create

[2022-02-25 03:23] Smit-create commented on #607
The tests seems to be failing because of precision error. Might be the issue when we test using random numbers (without seed). We just need to raise the error limit to fix it. I will have a look at it soon.

[2022-03-13 11:36] sidd1996 commented on #395
Hi all can you please let me know exactly what is the open issue here now ? Thank you

[2022-03-15 00:27] jstac commented on #395
I think this issue can probably be closed.  (@natashawatkins , glancing it the thread the above, is it the case that you already have a notebook illustrating QE's inequality tools https://quanteconpy.readthedocs.io/en/latest/tools/inequality.html?  If so, would you mind to post it to notes.quantecon.org?  If not then please disregard.)

@sidd1996 , thanks for your interest. if you would like to co

[2022-03-15 00:27] #395 closed

[2022-03-15 01:02] oyamad commented on #539
Regarding PR #610 (thanks @Smit-create!), I didn't realize the `PytestCollectionWarning`s: [`yield tests were removed in pytest 4.0 - test_XXX will be ignored`](https://github.com/QuantEcon/QuantEcon.py/runs/5546271326#step:7:44). We need to find a substitution for `yield` in test code.

[2022-03-16 05:27] Smit-create commented on #539
Yeah, will have a look into it.

[2022-03-17 12:59] Smit-create commented on #539
I found the fix for that using the following:
[code]
The only issue with this approach is that it will fail with `nosetests`. So, once we completely deprecate `nosetests`, we can use the above snippets for such tests.

[2022-03-30 03:02] #603 closed

[2022-03-31 13:48] oyamad commented on #607
Also `TestTicTacToc.test_loop` in `util/tests/test_timing.py` is [failing](https://github.com/QuantEcon/QuantEcon.py/runs/5747742400#step:6:66) on `windows-latest, 3.8`.

[2022-03-31 13:50] oyamad commented on #539
Convert from `nose` to `pytest` also on [`conda_ci.yml`](https://github.com/QuantEcon/QuantEcon.py/blob/496fdeaa22460824bba2ce58a7fb908e3f2216b7/.github/workflows/conda_ci.yml#L50).

[2022-03-31 13:52] oyamad commented on #539
And fix `yield` tests in `test_gth_solve.py` and `test_ricatti.py`.

[2022-04-02 08:06] Smit-create commented on #607
I guess that is a random failure. We can slightly raise the time bar if there are frequent failures due to this.

[2022-04-02 19:08] oyamad opened #616 "Documentation build failing"
See https://readthedocs.org/projects/quanteconpy/builds/16509240/: `ModuleNotFoundError: No module named 'version'`

[2022-04-02 19:20] oyamad opened #617 "Fix `DLE` docstring"
Docstring for `DLE` (the order of  the elements of `tuple`) https://github.com/QuantEcon/QuantEcon.py/blob/496fdeaa22460824bba2ce58a7fb908e3f2216b7/quantecon/dle.py#L55-L57 does not match the code https://github.com/QuantEcon/QuantEcon.py/blob/496fdeaa22460824bba2ce58a7fb908e3f2216b7/quantecon/dle.py#L66

[2022-04-04 12:26] gabriellequeran opened #619 "Need to update quantecon version in pyproject.toml"
The previous version of quantecon used the function gcd(a, b) from fractions but since python 3.5 this function has been deprecated and since python 3.9, it has been moved to math.

[2022-04-04 23:43] jstac commented on #619
Thanks @gabriellequeran , much appreciated.  @Smit-create , if you have time, could you take a look at this please?

[2022-04-05 00:26] oyamad commented on #539
Done, thanks to @Smit-create!

[2022-04-05 00:26] #539 closed

[2022-04-05 00:29] oyamad commented on #272
No such warnings now.

[2022-04-05 00:29] #272 closed

[2022-04-05 00:31] oyamad commented on #271
No such warnings.

[2022-04-05 00:31] #271 closed

[2022-04-05 02:41] mmcky commented on #616
Closed by [729f864](https://github.com/QuantEcon/QuantEcon.py/commit/729f86411309be537370c4eadacb6dedc3d0811c)

[2022-04-05 02:41] #616 closed

[2022-04-05 02:41] mmcky commented on #607
Closing this now -- given #620

[2022-04-05 02:41] #607 closed

[2022-04-05 02:46] mmcky commented on #533
Closing as duplicate of #575

[2022-04-05 02:46] #533 closed

[2022-04-05 02:56] mmcky commented on #516
@oyamad do you think this is necessary? Are users using earlier version of `numba<0.38`?

[2022-04-05 03:19] oyamad commented on #516
The lower bound should be either updated or removed. (The latter is fine with me.)

[2022-04-05 03:41] #500 closed

[2022-04-05 03:42] #406 closed

[2022-04-05 03:43] mmcky commented on #370
This is now happening https://repo.anaconda.com/pkgs/main/

however it looks like the latest version is still `0.5.0` rather than `0.5.2` that is available on `conda-forge`

[2022-04-05 03:49] mmcky commented on #370
I have reported this on

https://github.com/ContinuumIO/anaconda-issues/issues/12888

[2022-04-05 03:49] #370 closed

[2022-04-05 03:51] #517 closed

[2022-04-05 05:54] #516 closed

[2022-04-05 06:05] Smit-create commented on #619
This issue is fixed by https://github.com/QuantEcon/QuantEcon.py/pull/573, and @mmcky is working on the build system in #608. Probably, after that, we won't require `setup.py`.

[2022-04-05 06:09] mmcky commented on #619
thanks @Smit-create -- @gabriellequeran thanks for reporting I will try and organise a new release `0.5.3` tomorrow with the fixes.

[2022-04-06 02:01] mmcky opened #627 "MAINT: Fix deprecation warning from Numba"
[code]

appears when importing `quantecon` package

[2022-04-06 03:16] oyamad commented on #627
It comes from `Numba`:
* numba/numba#5275
* numba/numba#5520

[2022-04-06 03:29] mmcky commented on #627
thanks for linking these issues @oyamad

[2022-04-07 02:55] mmcky commented on #619
Actually @gabriellequeran this is already in `0.5.2` so perhaps you can try:

[code]

and see if you still have this issue.

[2022-04-07 04:13] mmcky opened #630 "BUG: Look like publish job isn't executing via conda_ci"
https://github.com/QuantEcon/QuantEcon.py/runs/5862360679?check_suite_focus=true

[2022-04-07 04:17] mmcky commented on #630
will wait for `master` to be passing all tests again and then re-trigger tag

[2022-04-07 04:19] mmcky commented on #630
Looks OK

https://github.com/QuantEcon/QuantEcon.py/blob/97cebb4c5ceb720b801c8587f463ea6df2660992/.github/workflows/conda_ci.yml#L65

Not sure why this `job` is being skipped

[2022-04-07 04:29] mmcky commented on #630
- [x] manually uploaded package using `flit` https://pypi.org/project/quantecon/

[2022-04-07 04:33] Smit-create commented on #630
I guess because of this: https://github.com/QuantEcon/QuantEcon.py/blob/97cebb4c5ceb720b801c8587f463ea6df2660992/.github/workflows/conda_ci.yml#L69

[2022-04-07 04:34] mmcky commented on #630
@Smit-create that line means it should run when a tag is pushed to `master`/`main`.

[2022-04-07 04:34] mmcky commented on #630
I tagged a `v0.5.3`

[2022-04-07 04:42] Smit-create commented on #630
How about changing that line to:
`if: github.event.ref_type == 'tag' `

[2022-04-09 13:15] Smit-create commented on #258
Do we require any more integrations in CI now?

[2022-04-11 00:37] mmcky commented on #258
hey @Smit-create I think we are at a good equilibrium point. Thanks for your work in migrating to pytest.

Perhaps the last thing that needs to be done is:

1. remove `tests.yml`
2. rename `conda_ci.yml` to `ci.yml`

[2022-04-22 04:09] #258 closed

[2022-05-05 15:11] Smit-create opened #633 "TST: Test failure on windows CI"
See the failure:
[code]

This might be because of platform dependencies. Should we raise the bar slightly to fix it?

[2022-07-01 12:38] #617 closed

[2022-10-05 05:13] jstac opened #639 "Add code for VAR approximation"
Replicate Matlab routines from ``Finite-State Approximation Of  VAR Processes:  A Simulation Approach'' by Stephanie Schmitt-Grohé and Martín Uribe, July 11, 2010.

The Matlab code is in the zip file [Discrete_VAR.zip](https://github.com/QuantEcon/QuantEcon.py/files/9712903/Discrete_VAR.zip)

In that same zip file is Python code that replicates the results of the Matlab routine, provided by @crond

[2022-10-28 13:45] Smit-create opened #642 "Fix pytest warnings"
[code]

[2022-10-28 13:56] Smit-create opened #644 "Fix Quantecon documentation site"
See: https://quanteconpy.readthedocs.io/en/latest/optimize/linprog_simplex.html

The function arguments are not displayed properly

<img width="1440" alt="Screenshot 2022-10-28 at 7 24 49 PM" src="https://user-images.githubusercontent.com/55887635/198626710-c6e934b6-c81a-4780-9841-6f030a79e978.png">

[2022-10-29 03:52] #642 closed

[2022-10-31 17:47] Smit-create commented on #633
I think we should fix this on priority so that the upcoming PRs have Green CI and it would be easy to review them.

[2022-10-31 22:02] jstac commented on #633
Thanks @Smit-create, agreed.  @mmcky , I'll leave this to you to and @Smit-create .

[2022-11-02 01:10] oyamad commented on #644
There are similar reports in readthedocs/sphinx_rtd_theme#766 and other issues as linked from there (but I haven't read those long discussions...).

[2022-11-02 06:03] Smit-create opened #646 "SciPy `linprog` deprecation warnings"
[code]

These warnings comes from:
https://github.com/QuantEcon/QuantEcon.py/blob/89a70127b1321444b8f22ba262c7401f4b08e9c4/quantecon/game_theory/normal_form_game.py#L422-L440

Should we also throw these deprecating warnings or directly use `method='highs'`?

scipy-version: 1.9.3

[2022-11-02 06:21] Smit-create opened #647 "CI: NumPy warnings"
[code]

Fix: https://github.com/QuantEcon/QuantEcon.py/pull/645/commits/9c62de59b6c4d3f4a9a33e63478c87bd01e2723a

[2022-11-03 14:06] #647 closed

[2022-11-03 14:07] #633 closed

[2022-11-06 13:12] Smit-create commented on #644
This work around works for me:
[code]

![image](https://user-images.githubusercontent.com/55887635/200172629-c2e0961f-bb3e-40c9-95f1-e842e4a374ee.png)

[2022-11-22 03:28] #646 closed

[2022-11-22 07:28] oyamad commented on #644
#651 does not seem to have fixed this issue: see for example https://quanteconpy.readthedocs.io/en/latest/tools/filter.html.

[2022-11-22 12:52] oyamad opened #652 "DOC: Add Examples to learning algorithm classes/functions"
Implemented by #487